* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    display: block;
}
body {
    background-color: var(--c-base);
    font-family: 'Roboto', sans-serif;    
    color: var(--c-white);    
    font-weight: 300;    
    font-size: $f-14;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    cursor: default;
    -webkit-app-region: drag;
    overflow: hidden;
    animation: loading-animation 2s 1;
    @media screen and (max-width: 991px) {
        overflow: visible;
    }
}

a,
button {
  -webkit-app-region: no-drag;
}

a {
    color: var(--c-primary);
    
    &:active {
        color: var(--c-primary-active);
    }
}
