:root {
    --menu-diff: 175px;
}

.container {
    display: flex;
    height: 100%;
    @media screen and (max-width: 991px) {
        display: block;
    }
}

.col {
    position: relative;
    &-1 {
        width: 350px;
    }
    &-2 {
        width: calc(40% - var(--menu-diff));
        left: calc(60% - var(--menu-diff));
    }
    &-3 {
        width: calc(60% - var(--menu-diff));
        left: calc(-40% + var(--menu-diff));
    }
    @media screen and (max-width: 1200px) and (min-width: 992px) {
        &-2,
        &-3 {
            width: calc(50% - var(--menu-diff));            
        }

        &-2 {
            left: calc(50% - var(--menu-diff));
        }
        &-3 {
            left: calc(-50% + var(--menu-diff));
        }
    }
    @media screen and (max-width: 1200px) {
        &-1 {
            left: -350px;
            position: absolute;
            height: 100%;
            z-index: 2;
        }
        &-2,
        &-3 {
            left: 0;
        }
    }
    @media screen and (max-width: 1200px) and (min-width: 992px) {
        &-2,
        &-3 {
            width: 50%;
        }
    }
    @media screen and (max-width: 991px) {
        &-2,
        &-3 {
            width: 100%;
            height: 100%;            
        }
    }
}