:root {
    --menu-diff: 160px;
}

.container {
    display: flex;
    height: 100%;
}

.col {
    position: relative;
    &-1 {
        width: 320px;
    }
    &-2 {
        width: calc(40% - var(--menu-diff));
        left: calc(60% - var(--menu-diff));
    }
    &-3 {
        width: calc(60% - var(--menu-diff));
        left: calc(-40% + var(--menu-diff));
    }
}