.win-controls {
    margin-left: auto;
    display: none;
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    button {
        background: transparent;
        border: none;
        outline: 0;
        padding: 0 8px;
        display: block;
        font-size: $f-10;
        span {
            transition: all 0.1s ease-out;
            color: var(--c-black);
        }
        &:active {
            span {
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

#win-close {
    background-color: var(--c-primary-active);
    width: 40px;
    transform: scale(1);
    span {
        color: var(--c-white);
    }
    &:active {
        background-color: var(--c-primary-active-focus);
        span {
            transform: scale(0.8);
        }
    }
}

#logo {
    cursor: pointer;
    transition: all 0.1s ease-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    small {
        position: absolute;
        left: calc(100% + 5px);
        top: 0;
        color: var(--c-white);
    }
}

.app {
    &-head {
        height: 100px;
        display: flex;
        padding: 30px 20px 0 20px;
        > p {
            font-size: $f-28;
            text-transform: uppercase;
            display: block;
            margin: 0;
            font-weight: 300;
        }
        .settings {
            margin-left: auto;
            margin-top: 10px;
        }
    }
}

.settings {
    .fa {
        margin-right: 3px;
    }
    p {
        margin: 0;
        opacity: 0.3;
        cursor: pointer;
        display: inline-block;
        transition: all 0.1s ease-out;
        + p {
            margin-left: 10px;
        }
        &:hover {
            opacity: 1;
        }
        &.active {
            opacity: 1;
            color: var(--c-primary);
        }
    }
    #toggle-repeat-mode {
        .fa {
            transform: rotate(0deg);
            transition: transform 0.1s ease-out;
        }
        &.active .fa {
            transform: rotate(180deg);
        }
    }
}