@mixin bp($point) {
    @if $point == lg {
        @media (min-width: 1200px) { @content; }
    }
    @else if $point == md {
        @media (max-width: 1199px) and (min-width: 992px) { @content; }
    }
    @else if $point == sm {
        @media (max-width: 991px) and (min-width: 768px)  { @content; }
    }
    @else if $point == xs {
        @media (max-width: 767px)  { @content; }
    }
}

.fontawesome {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}