nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        padding-left: 0;
    }
    a {
        display: block;
        text-decoration: none;
        color: var(--c-white);
        font-size: $f-14;
        position: relative;
        padding: 10px 15px 10px 35px;
        transition: all 0.1s ease-out;
        opacity: 0.3;
        .fa {
            color: var(--c-white);
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
        .description {
            display: block;
            font-size: $f-12;
            color: rgba(255, 255, 255, 0.5);
        }
        &:hover {
            opacity: 1;
        }
        &.is-active,
        &:active {
            opacity: 1;
            color: var(--c-primary);
            .fa {
                color: var(--c-primary);
            }
        }
    }
}