#settingsForm {
    margin-top: 0;
    input[type="checkbox"],
    input[type="radio"] {
        display: none;
    }
    label {
        position: relative;
        cursor: pointer;
        display: block;
    }
    .form-group {
        padding: 5px 0;
    }
}

nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        padding-left: 0;
    }
    a {
        display: block;
        text-decoration: none;
        color: var(--c-white);
        font-size: $f-14;
        position: relative;
        padding: 10px 15px 10px 35px;
        transition: all 0.1s ease-out;
        border-left: 3px solid transparent;
        .fa {
            color: var(--c-white);
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
        .description {
            display: block;
            font-size: $f-12;
            color: rgba(255, 255, 255, 0.5);
        }
        &:hover {
            border-left-color: lighten($c-primary-inverse, 20%);
        }
        &.is-active,
        &:active {
            background-color: lighten($c-primary-inverse, 5%);
            border-left-color: lighten($c-primary-inverse, 25%);
            color: var(--c-white);
            .fa {
                color: var(--c-white);
            }
        }
    }
}