#main-search {
    width: 100%;
    display: block;
    position: relative;
    color: var(--c-white);
    .form-group {
        position: relative;
        z-index: 10;
    }
    .input-group {
        position: relative;
    }
    input[type="text"] {
        border: none;
        display: block;
        width: 100%;
        padding: 15px 40px 15px 15px;
        margin: 0;
        outline: 0;
        position: relative;
        border: 1px solid rgba(255, 255, 255, 0.12);
        background-color: var(--c-gray);
        color: inherit;
        z-index: 1;
    }
    .clear-button {
        border: none;
        background: transparent;
        color: inherit;
        padding: 0;
        margin: 0;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%) scale(1);
        z-index: 2;
        outline: 0;
        transition: all 0.1s ease-out;
    }
    &.ng-invalid {
        .clear-button {
            transform: translateY(-50%) scale(0);
        }
    }
    .settings {
        display: flex;
        margin-top: 20px;
        align-items: center;
    }
    &:hover {
        input[type="text"] {
            background-color: var(--c-black);
        }
    }
}