/* --- Colors --- */
// Base colors

/* --- Fonts --- */
// Font sizes
$f-8: 8px;
$f-9: 9px;
$f-10: 10px;
$f-11: 11px;
$f-12: 12px;
$f-13: 13px;
$f-14: 14px;
$f-16: 16px;
$f-18: 18px;
$f-20: 20px;
$f-22: 22px;
$f-24: 24px;
$f-26: 26px;
$f-28: 28px;
$f-30: 30px;
$f-32: 32px;

// If you don't use darken and other sass functions use this
:root {
    --c-base: #17171d;
    --c-primary: #d42222;
    --c-primary-active: #bb2222;  
    --c-primary-active-focus: #9c1717;
    --c-primary-inverse: #232228;
    
    --c-danger: red;
    --c-danger-active: #D30000;
    --c-secondary: #167ac6;
    --c-success: #23CF5F;
    --c-success-active: #1db351;

    --c-gray: rgba(#000, 0.35);
    --c-light-gray: rgba(#000, 0.6);
    --c-dark-gray: rgba(#000, 0.2);
    --c-white: #ffffff;
    --c-black: #000000;
}