iframe {
    width: 100%;
    max-height: 350px;
    display: flex;
}

.video-list {
    position: absolute;
    width: 100%;
    top: 45px;
    overflow-y: auto;
    &-info {
        text-align: center;
        margin: 5px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 2px;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: var(--c-dark-gray);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: rgba(#FFF, 0.1);
        &:hover {
            background-color: rgba(#FFF, 0.4);
        }
    }
}

#search-video-list {
    z-index: 10;
    max-height: 430px;
    border: 1px solid #1f1f1f;
    .video-item {
        background-color: var(--c-black);
        &:hover {
            background-color: var(--c-gray);
        }
    }
    &::-webkit-scrollbar {
        width: 6px;
        background-color: var(--c-black);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(#FFF, 0.3);
        &:hover {
            background-color: rgba(#FFF, 0.6);
        }
    }
}

.video-item-head {
    background-color: var(--c-gray);
    color: var(--c-white);
    width: 100%;
    height: 39px;
    padding: 8px;
    &-btn {
        float: right;
        background-color: var(--c-black);
        border: 1px solid var(--c-primary);
        cursor: pointer;
        color: var(--c-primary);
        border-radius: 3px;
        padding: 2px 8px;
        margin-top: 2px;
        text-transform: uppercase;
        font-size: $f-11;
        &:active {
            background-color: var(--c-primary);
            color: var(--c-black);
            user-select: none;
        }
    }
    .fa {
        margin-right: 3px;
    }
}

.video-item {
    display: flex;
    align-items: center;
    background-color: var(--c-dark-gray);
    color: var(--c-white);
    padding: 0;
    position: relative;
    min-height: 60px;
    padding: 10px;
    transition: all 0.1s ease-in-out;
    h2 {
        font-size: $f-14;
        margin: 0;
    }
    .video-item-autor {
        font-size: $f-12;
    }
    &-content {
        width: 100%;
        overflow: hidden;
        position: relative;
        p {
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &-info {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        width: 100%;
        background-color: inherit;
    }
    &-settings {
        background-color: rgba(0, 0, 0, 0.7);
        color: var(--c-white);
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.1s ease-in-out;      
        > p {
            margin: 0 5px;
            cursor: pointer;        
            transition: all 0.1s ease-in-out;      
        }
        p[class^="video-item-"] {
            background-color: var(--c-light-gray);
            height: 30px;
            width: 30px;
            border-radius: 50%;
            text-align: center;
            line-height: 30px;
        }
        .video-item-play {
            .fa {
                font-size: $f-12;
            }
            .fa-play {
                margin-left: 2px;
            }
            .fa-pause {
                margin-left: 1px;
            }
            &:hover {
                color: var(--c-base);
                background-color: var(--c-primary);
            }
            &:active {
                color: var(--c-base);
                background-color: var(--c-primary-active);
            }
        }
        .video-item-remove {
            &:hover {
                background-color: var(--c-danger);
            }
            &:active {
                background-color: var(--c-danger-active);
            }
        }
        .video-item-add {
            .fa {
                top: 1px;
                margin-left: 1px;
                position: relative;
            }
            &:hover {
                background-color: var(--c-success);
            }
            &:active {
                background-color: var(--c-success-active);
            }
        }
    }
    &-title {
        line-height: 18px;
    }
    &-hint {
        //display: none;
        text-transform: uppercase;
        font-size: $f-10;
        border: 1px solid var(--c-primary);
        color: var(--c-primary);
        display: none;
        padding: 0 5px;
        font-weight: 600 !important;
        .fa {
            font-size: $f-8;
            margin-right: 3px;
            position: relative;
            top: -1px;
        }
    }
    &:hover {
        .video-item-settings {
            opacity: 1;
            visibility: visible;
        }
    }
    &.active {
        background-color: var(--c-black);
        .video-item-hint {
            display: inline-block;
        }
    }
}

.video-item-image {
    display: block;
    height: 60px;
    width: 80px;
    background-position: center center;
    margin-right: 15px;
}

.video-item-details {
    display: flex;
    p {
        margin: 0 15px 0 0;
        font-size: $f-12;
    }
    .fa {
        margin-right: 3px;
    }
}

#related-video-list {
    display: flex;
    flex-wrap: wrap;
    top: inherit;
    bottom: 0;
    max-height: none;
    height: calc(100% - 190px);
    width: 100%;
    transition: height 0.1s ease-out 0.1s;
    .related-video-content {
        position: absolute;
        bottom: 0;
        height: calc(100% - 39px);
        width: 100%;
        overflow: auto;
        background-color: var(--c-dark-gray);
        &::-webkit-scrollbar-track {
            border-radius: 2px;
        }
    
        &::-webkit-scrollbar {
            width: 6px;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background-color: rgba(#FFF, 0.1);
            &:hover {
                background-color: rgba(#FFF, 0.4);
            }
        }
    }
    &.activePlayer {
        height: calc(100% - 385px);
        transition: height 0.1s ease-out 0s;
    }
}

#playlist-video-list {
    display: flex;
    flex-wrap: wrap;
    top: inherit;
    bottom: 0;
    max-height: none;
    height: calc(100% - 236px);
    width: 100%;
    transition: height 0.1s ease-out 0.1s;
    .playlist-video-content {
        position: absolute;
        bottom: 0;
        height: calc(100% - 39px);
        width: 100%;
        overflow: auto;
        background-color: var(--c-dark-gray);
        &::-webkit-scrollbar-track {
            border-radius: 2px;
        }
    
        &::-webkit-scrollbar {
            width: 6px;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background-color: rgba(#FFF, 0.1);
            &:hover {
                background-color: rgba(#FFF, 0.4);
            }
        }
    }
}

.video-list-featured {
    margin: 10px 0 0;
    height: 200px;
    background-position: center center;
    background-size: cover;
    position: relative;
    .video-item {
        position: absolute;
        bottom: 15px;
        left: 0;
        width: auto;
        padding: 10px 15px;
        max-width: 90%;
        background-color: rgba(0, 0, 0, 0.6);
        color: var(--c-white);
        border: none;
        &-info {
            background-color: transparent;
            > div {
                display: inline-block;
            }
        }
    }
}

#feed-video-list {
    top: inherit;
    bottom: 0;
    height: calc(100% - 297px);
    width: calc(100% - 40px);
    max-height: none;
    .video-item {
        &:first-child {
            display: none !important;
        }
    }
    &.grid-list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        .video-item {
            width: calc(33.333% - 10px);
            display: block;
            margin: 0 5px;
            padding: 0;
            position: relative;
            overflow: hidden;
            .video-item-image {
                margin: 0;
                position: relative;
                width: 100%;
                height: 180px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .video-item-content {
                margin: 5px 0 15px 0;
            }
            &-info {
                display: block;
                padding: 0;
            }
            &.hidden-thumbnails {
                .video-item-settings {
                    height: 26px;
                    width: 30px;
                }
            }
            &:hover {
                .video-item-info {
                    left: 0;
                }
                .video-item-settings {
                    opacity: 1;
                    visibility: visible;
                    top: 0;
                }
            }
            @media screen and (max-width: 1600px) and (min-width: 992px) {
                width: calc(50% - 10px);
            }
            @media screen and (max-width: 991px) {
                width: calc(100% - 10px);
            }
        }
        .video-item-details {
            text-align: center;
            margin-top: 8px;
            p {
                font-size: $f-14;
                width: 100%;
                margin-right: 0;
                margin-bottom: 5px;
            }
        }
    }
}