.video-list {
    position: absolute;
    width: 100%;
    top: 45px;
    overflow-y: auto;
}

.video-list-info {
    text-align: center;
    margin: 5px;
}

#search-video-list {
    z-index: 10;
    max-height: 430px;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.15);
    .video-item {
        padding: 0;
        &-info {
            padding: 5px 10px;
        }
    }
    &::-webkit-scrollbar-track {
        border-radius: 2px;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: var(--c-white);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: rgba($c-black, 0.3);
        &:hover {
            background-color: rgba($c-black, 0.6);
        }
    }
}

iframe {
    width: 100%;
    max-height: 350px;
    display: flex;
}

.video-item-head {
    background-color: var(--c-primary);
    color: var(--c-white);
    width: 100%;
    height: 39px;
    padding: 8px;
    &-btn {
        float: right;
        background-color: var(--c-white);
        cursor: pointer;
        color: var(--c-primary-inverse);
        border-radius: 3px;
        padding: 1px 7px;
        margin-top: 2px;
        text-transform: uppercase;
        font-size: $f-12;
        &:active {
            background-color: var(--c-light-gray);
            user-select: none;
        }
    }
    .fa {
        margin-right: 3px;
    }
}

.video-item {
    display: flex;
    align-items: center;
    background-color: var(--c-white);
    border-bottom: 1px solid rgba($c-black,0.03);
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    h2 {
        font-size: $f-14;
        margin: 0;
    }
    p {
        margin: 0;
    }
    &-info {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        width: 100%;
        background-color: inherit;
        left: 0;
        transition: all 0.1s ease-in-out;
    }
    &:hover {
        .video-item-info {
            left: -30px;
        }
    }
    &-settings {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        display: flex;
        > p {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--c-white);
            transition: all 0.1s ease-in-out;
        }
        .video-item-remove {
            background-color: var(--c-primary);
            &:active {
                background-color: var(--c-primary-active);
            }
        }
        .video-item-add {
            background-color: var(--c-success);
            &:active {
                background-color: var(--c-success-active);
            }
        }
    }
    &-count {
        font-family: 'Muli', sans-serif;
        padding-right: 7px;
    }
    &:last-child {
        padding-bottom: 10px;
    }
}

.video-item-image {
    flex: 0 0 45px;
    margin: 0 10px 0 0;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.video-item-details {
    display: flex;
    p {
        margin: 0 15px 0 0;
        line-height: 14px;
        font-size: $f-12;
        color: var(--c-dark-gray);
    }
    .fa {
        margin-right: 3px;
        color: var(--c-black);
    }
}

#related-video-list {
    display: flex;
    flex-wrap: wrap;
    top: inherit;
    bottom: 0;
    max-height: none;
    height: calc(100% - 190px);
    width: 100%;
    transition: height 0.1s ease-out 0.1s;
    .video-item {
        background-color: inherit;
        flex-wrap: nowrap;
        padding: 0;
        transition: box-shadow 0.1s ease-out;
        &-info {
            padding: 5px;
        }
        &:hover {
            .video-item-info {
                left: -30px;
            }
        }
    }
    .video-item-image {
        flex: inherit;
        margin: 0 10px 0 0;
        position: relative;
        img {
            width: 45px;
            height: auto;
        }
    }
    .related-video-content {
        position: absolute;
        bottom: 0;
        height: calc(100% - 39px);
        width: 100%;
        overflow: auto;
        background-color: var(--c-base);
        &::-webkit-scrollbar-track {
            border-radius: 2px;
        }

        &::-webkit-scrollbar {
            width: 6px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background-color: rgba($c-black, 0.3);
        }
    }
    &.activePlayer {
        height: calc(100% - 385px);
        transition: height 0.1s ease-out 0s;
    }
}

#playlist-video-list {
    display: flex;
    flex-wrap: wrap;
    top: inherit;
    bottom: 0;
    max-height: none;
    height: calc(100% - 236px);
    width: 100%;
    transition: height 0.1s ease-out 0.1s;
    .video-item-head {
        background-color: darken($c-primary-inverse, 2%);
    }
    .video-item {
        background-color: inherit;
        flex-wrap: nowrap;
        border-bottom: none;
        transition: all 0.1s ease-out;
        padding: 0;
        &-info {
            padding: 5px;
        }
        &.active {
            background-color: lighten($c-primary-inverse, 5%);
        }
        &:hover {
            .video-item-info {
                left: -30px;
            }
        }
    }
    .video-item-image {
        flex: inherit;
        margin: 0 5px 0 0;
        position: relative;
        img {
            width: 45px;
            height: auto;
        }
    }
    .playlist-video-content {
        position: absolute;
        bottom: 0;
        height: calc(100% - 39px);
        width: 100%;
        overflow: auto;
        background-color: darken($c-primary-inverse, 5%);
        color: var(--c-white);
        &::-webkit-scrollbar-track {
            border-radius: 2px;
        }

        &::-webkit-scrollbar {
            width: 6px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}

.video-list-featured {
    margin: 10px -20px 0;
    height: 200px;
    background-position: center center;
    background-size: cover;
    position: relative;
    .video-item {
        position: absolute;
        bottom: 15px;
        left: 0;
        width: auto;
        padding: 10px 15px;
        max-width: 90%;
        background-color: rgba($c-black, 0.6);
        color: var(--c-white);
        border: none;
        .fa,
        p {
            color: inherit;
            font-size: inherit;
        }
        &-image {
            width: 80px;
            height: auto;
            flex: auto;
        }
        &-info {
            background-color: transparent;
            > div {
                display: inline-block;
            }
        }
        &-settings {
            right: -30px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s ease-in-out;
        }
        &:hover {
            .video-item-info {
                left: 0;
            }
            .video-item-settings {
                right: -30px;
                top: 0;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

#feed-video-list {
    top: inherit;
    bottom: 0;
    height: calc(100% - 297px);
    width: calc(100% - 20px);
    margin-left: -10px;
    max-height: none;
    .video-item {
        border-bottom: none;
        line-height: 16px;
        padding: 0;
        &:first-child {
            display: none !important;
        }
        &-info {
            padding: 5px;
        }
    }
    &::-webkit-scrollbar-track {
        border-radius: 2px;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: rgba($c-black, 0.1);
        &:hover {
            background-color: rgba($c-black, 0.6);
        }
    }
    &.grid-list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        .video-item {
            width: calc(33.333% - 10px);
            display: block;
            margin: 0 5px;
            padding: 0;
            position: relative;
            overflow: hidden;
            .video-item-image {
                margin: 0;
                position: relative;
            }
            .video-item-content {
                margin: 5px 0 15px 0;
            }
            &:not(.hidden-thumbnails) {
                .video-item-image {
                    &:before {
                        content: '\25B6  Play';
                        color: var(--c-white);
                        background-color: rgba($c-black, 0.6);
                        padding: 8px 15px;
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        transform: translate(50%, -50%);
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
            &-settings {
                opacity: 0;
                visibility: hidden;
                z-index: 1;
                width: 100%;
                height: 30px;
                top: -30px;
                transition: all 0.2s ease-in-out;
            }
            &-info {
                display: block;
                padding: 0;
                &:active {
                    &:not(.hidden-thumbnails) .video-item-image:before {
                        background-color: var(--c-black);                    
                    }
                }
            }
            &.hidden-thumbnails {
                .video-item-settings {
                    height: 26px;
                    width: 30px;
                }
            }
            &:hover {
                .video-item-info {
                    left: 0;
                }
                .video-item-settings {
                    opacity: 1;
                    visibility: visible;
                    top: 0;
                }
                &:not(.hidden-thumbnails) .video-item-image {
                    &:before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            @media screen and (max-width: 1600px) and (min-width: 992px) {
                width: calc(50% - 10px);
            }
            @media screen and (max-width: 991px) {
                width: calc(100% - 10px);
            }
        }
        .video-item-details {
            text-align: center;
            margin-top: 8px;
            p {
                font-size: $f-14;
                width: 100%;
                margin-right: 0;
                margin-bottom: 5px;
            }
        }
    }
}