.btn {
	display: inline-flex;
	background-color: rgba(var(--c-white),0.2);
	color: rgb(var(--c-white));
	font-size: var(--font-medium);
	font-weight: 400;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	align-items: center;
	user-select: none;
	border: none;
	border-radius: calc(var(--border-radius) / 2);
	padding: 10px 15px;
	text-decoration: none;
	transition: var(--default-transition);
	outline: 0;
	line-height: 1;
	&:active {
		background-color: rgb(var(--c-white));
		color: rgb(var(--c-black));
		box-shadow: 0 0 0 4px rgba(var(--c-white), 0.3);
	}
	&-block {
		width: 100%;
		display: block;
	}
	&-round {
		border-radius: 50px;
	}

	&-link {
		background-color: transparent;
		color: rgba(var(--c-white), 0.3);

		&:hover {
			color: rgba(var(--c-white), 0.6);
		}

		&:active {
			background-color: transparent;
			color: rgb(var(--c-white));
			box-shadow: none;
		}
	}

	&-small {
		padding: 5px 10px;
	}

	&-primary {
		background-color: rgba(var(--primary), 0.2);
		color: var(--primary);

		&:active {
			background-color: var(--primary);
			color: rgb(var(--c-white));
			box-shadow: 0 0 0 4px rgba(var(--primary), 0.3);
		}
	}

	&-inverse {
		background-color: rgb(var(--c-white));
		color: rgb(var(--c-black));

		&:active {
			background-color: rgb(var(--c-black));
			color: rgb(var(--c-white));
			box-shadow: 0 0 0 4px rgba(var(--c-black), 0.3);
		}
	}

	&-secondary {
		background-color: rgba(var(--c-secondary), 0.2);
		color: rgb(var(--c-secondary));

		&:active {
			background-color: rgb(var(--c-secondary));
			color: rgb(var(--c-white));
			box-shadow: 0 0 0 4px rgba(var(--c-secondary), 0.3);
		}
	}

	&-warning {
		color: rgb(var(--c-warning));
		background-color: rgba(var(--c-warning),0.2);

		&:active {
			color: rgb(var(--c-black));
			background-color: rgb(var(--c-warning));
			box-shadow: 0 0 0 4px rgba(var(--c-warning), 0.3);
		}
	}

	&-outline {
		background-color: transparent;
		border: 3px solid rgb(var(--c-white));

		&:hover,
		&:active {
			background-color: rgb(var(--c-white));
			color: rgb(var(--c-black));
		}
	}
}
