.loading-app {
    position: fixed;
    color: $c-white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.debugging-info {
    display: none;
    &.active {
        display: block;
    }
}

.round-check {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    &:before {
        content: '';
        display: block;
        background-color: #000;
        height: 20px;
        width: 40px;
        border-radius: 50px;
        transition: background-color 0.2s ease-out;
    }
    &:after {
        content: '';
        position: absolute;
        display: block;
        background-color: darken($c-white, 40%);
        height: 16px;
        width: 16px;
        border-radius: 50%;
        z-index: 1;
        left: 2px;
        top: 2px;
        transition: left 0.2s ease-out;
    }
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    + label .round-check {
        &:before {
            background-color: $c-primary;
        }
        &:after {
            left: 22px;
            background-color: $c-white;
        }
    }
}

// app-yt-2

.app-yt-2 {
    height: 100%;
}

.app {
    position: absolute;
    width: 100%;
    height: 100%;
    color: $c-white;
    &-content {
        height: calc(100% - 100px);
        width: 100%;
        display: block;
        position: absolute;
        overflow: auto;
        bottom: 0;
    }
    &-services {        
        background: linear-gradient(to right, darken($c-black, 2%) 85%,darken($c-black, 4%) 100%);
        .app-head {
            position: relative;
        }
    }
    &-feed {
        .app-content {
            padding: 0 20px;
            background: linear-gradient(to bottom, $c-black 0%,darken($c-black, 5%) 100%);
        }
    }
    &-player {
        background-color: $c-primary;
    }
}

