.loading-app {
    position: fixed;
    color: $c-primary;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.debugging-info {
    display: none;
    &.active {
        display: block;
    }
}