.text-center {
	text-align: center;
	justify-content: center;
}

.text-center-block {
	text-align: center;
	justify-content: center;
	padding: 15px 0;
}

.hide {
	display: none;
}

.hide-input {
	position: absolute !important;
	left: -9999px !important;
	top: -9999px !important;
}

.arrow-up {
	width: 0px;
	height: 0px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgb(var(--c-box));
}

h2 {
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 22px;
	line-height: 22px;
	display: inline-block;
	width: 100%;
}

.notif {
	position: fixed;
	top: -41px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(var(--c-white));
	color: rgb(var(--c-black));
	font-size: var(--font-medium);
	box-shadow: 0 5px 10px 10px rgba(var(--c-black), 0.1);
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 20px;
	border-radius: 20px;
	opacity: 0;
	visibility: hidden;
	transition: var(--default-transition);
	z-index: 9999;
	p {
		margin: 0;
		display: inline-block;
	}
	.icon {
		margin-right: 8px;
		font-size: 18px;
	}
	&.active {
		top: 51px;
		opacity: 1;
		visibility: visible;
	}
}

.app-container {
	background-color: rgb(var(--c-box));
	padding: 15px;
	border-radius: var(--border-radius);
	margin-bottom: 15px;
	width: 100%;
}

.app-head {
	margin-bottom: 15px;
}

select {
	option {
		color: rgb(var(--c-black));
	}
}

select,
input[type='text'] {
	-webkit-appearance: none;
	display: block;
	padding: 10px 15px;
	margin: 0;
	position: relative;
	background-color: transparent;
	border: 2px solid rgba(var(--c-white), 0.2);
	color: rgb(var(--c-white));
	border-radius: calc(var(--border-radius) / 2);
	font-size: var(--font-medium);
	z-index: 1;
	transition: var(--default-transition);
	outline: 0;

	&::-webkit-input-placeholder {
		color: rgba(var(--c-white), 0.8);
	}

	&:focus {
		border-color: rgba(var(--c-white), 0.8);
		box-shadow: 0px 0px 0px 4px rgba(var(--c-white), 0.2);

		+ .search-icon {
			color: rgba(var(--c-white), 0.8);
		}
	}
	&:disabled {
		background-color: rgb(var(--c-base));
		cursor: no-drop;
		user-select: none;
	}
}
