@keyframes loading-modal {
	0% {
		opacity: 0;
		top: 60%;
	}
	100% {
		opacity: 1;
		top: 50%;
	}
}

.text-center {
	text-align: center;
	justify-content: center;
}

.text-center-block {
	text-align: center;
	justify-content: center;
	padding: 15px 0;
}

.hide {
	display: none;
}

.hide-input {
	position: absolute !important;
	left: -9999px !important;
	top: -9999px !important;
}

.arrow-up {
	width: 0px;
	height: 0px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid var(--c-black);
}

h2 {
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: $f-22;
	line-height: $f-22;
	display: inline-block;
	width: 100%;
}

.notif {
	position: fixed;
	top: -41px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--c-white);
	color: var(--c-black);
	font-size: 14px;
	box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.1);
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 20px;
	border-radius: 20px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.1s ease-in-out;
	z-index: 9999;
	p {
		margin: 0;
		display: inline-block;
	}
	.icon {
		margin-right: 8px;
		font-size: 18px;
	}
	&.active {
		top: 51px;
		opacity: 1;
		visibility: visible;
	}
}

.modal-overlay {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 999;
}

.modal-background-overlay {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	pointer-events: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
	left: 0;
	top: 0;
}

.modal-container {
	position: absolute;
	background-color: var(--c-box);
	color: var(--c-white);
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	width: 400px;
	border-radius: 3px;
	padding-top: 50px;
	padding-bottom: 10px;
	animation: loading-modal 0.2s 1;
	overflow-y: auto;
	max-height: 100%;
	&#manage-playlist {
		height: auto;
	}
}

.modal-content {
	padding: 15px 20px;
	h3 {
		margin-bottom: 5px;
	}
	img {
		width: 200px;
		height: auto;
	}
	p {
		margin: 5px 0;
	}
}

.modal-close {
	position: absolute;
	top: 13px;
	right: 15px;
	background: transparent;
	padding: 0;
	border: none;
	transition: all 0.1s ease-out;
	span {
		color: var(--c-white);
		opacity: 1;
		&:active,
		&:hover {
			opacity: 0.8;
		}
	}
}

.modal-buttons {
	display: block;
	width: 100%;
	.btn {
		display: block;
		margin: 5px auto;
		padding: 15px;
		text-transform: uppercase;
		font-weight: 600;
		padding: 13px 10px;
		font-size: $f-12;
		width: 70%;
		border-radius: 30px;
	}
}

.app-container {
	background-color: var(--c-box);
	padding: 15px;
	border-radius: 5px;
}

.app-head {
	margin-bottom: 15px;
}

select {
	option {
		color: var(--c-black);
	}
}

select,
input[type='text'] {
	-webkit-appearance: none;
	display: block;
	padding: 10px 15px;
	margin: 0;
	outline: 0;
	position: relative;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: var(--c-white);
	border-radius: 3px;
	font-size: 14px;
	z-index: 1;
	transition: all 0.2s ease-out;
	outline: 0;

	&::-webkit-input-placeholder {
		color: rgba(255, 255, 255, 0.6);
	}

	&:focus {
		border-color: rgba(255, 255, 255, 0.6);
		box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.2);

		+ .search-icon {
			color: rgba(255, 255, 255, 0.6);
		}
	}
	&:disabled {
		background-color: var(--c-base);
		cursor: no-drop;
		user-select: none;
	}
}
