.current-video-details {
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.current-stats-container {
    width: 100%;
    display: block;
}

.current-video-name {
    color: var(--c-white);
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: $f-32;
    line-height: 1;
    font-weight: 200;
}

.current-video-channel {
    margin: 0;
    font-weight: 700;
}

.current-video-none {
    margin: 0;
    color: var(--c-black);
}

.current-video-stats {
    display: flex;
    width: 100%;
    margin: 5px 0;
    p {
        margin-top: 0;
        margin-bottom: 0;
        color: var(--c-white);
    }
    p + p {
        margin-left: 15px;
    }
    .fa {
        margin-right: 3px;
    }
}

.current-video-share {
    display: flex;
    width: 100%;
    input[type=text] {
        width: 100%;
        border: none;
        padding: 0;
        font-size: $f-14;        
        background-color: transparent;
        color: rgba(255, 255, 255, 0.3);
        margin: 0;
        outline: 0;
        cursor: pointer;
        &::-moz-selection {
            background-color: transparent;
        }
        &::selection {
            background-color: transparent;
        }
        &:active {
            color: var(--c-white);
        }
    }
}

.player-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        background: transparent;
        position: relative;
        border: none;
        outline: none;
        color: var(--c-white);
        height: 30px;
        width: 30px;
        border-radius: 50%;
        font-size: $f-12;
        text-align: center;
        margin: 0;
        padding: 0;
        transition: all 0.1s ease-out;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
        &:active {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}
.current-video-range {
    position: relative;
    width: calc(100% - 280px);
    .current-video-range-max-value,
    .current-video-range-value {
        position: absolute;
        top: -6px;
        margin: 0;
        color: var(--c-white);
    }
    .current-video-range-value {
        right: calc(100% + 15px);
    }
    .current-video-range-max-value {
        left: calc(100% + 15px);
    }
}

.player-range {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    -webkit-appearance: none;
    outline: 0;
    margin: 0;
}

.current-video-range {
    margin: 12px auto;
    padding: 3px 0;
}

.duration-range-container {
    position: relative;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    border-radius: 20px;
    .duration-input-shadow {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 0;
        background-color: var(--c-white);
    }
    .player-range {
        -webkit-appearance: none;
        z-index: 1;
        position: absolute;
        top: 0;
        overflow: visible;
        &::-webkit-slider-thumb {
            position: relative;
            -webkit-appearance: none;
            top: 0;
            height: 15px;
            width: 15px;
            border-radius: 50px;
            background-color: var(--c-white);
            opacity: 0;
            visibility: hidden;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
        }
        &:active,
        &:hover {
            + .duration-input-shadow {
                border-radius: 20px 0 0 20px;
            }
            &::-webkit-slider-thumb {
                opacity: 1;
                visibility: visible;
            }
        }
        &:disabled {
            &::-webkit-slider-thumb {
                display: none;
            }
        }
    }
}

.volume-input-container {
    position: absolute;
    width: 80px;
    height: 30px;
    transform: rotate(-90deg);
    bottom: 55px;
    left: -28px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .volume-input-shadow {
        position: absolute;
        top: 11px;
        left: 0px;
        height: 9px;
        border-radius: 3px;
        background-color: rgba(255,255,255,0.6);
        &.inactive {
            width: 0% !important;
        }
    }
    .volume-input {
        background-color: rgba(255,255,255,0.2);
        cursor: pointer;
        border-radius: 3px;
        width: 100%;
        height: 9px;
        -webkit-appearance: none;
        outline: 0;
        margin: 0;
        z-index: 1;
        &::-webkit-slider-thumb {
            opacity: 0;
        }
        &:hover {
            + .volume-input-shadow {
                background-color: rgba(255,255,255,0.8);
            }
        }
        &:active {
            + .volume-input-shadow {
                background-color: rgba(255,255,255,1);
            }
        }
    }
}

.volume-range-value {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    position: relative;
    color: var(--c-white);
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 25px;
    .fa {
        transition: all 0.1s ease-in-out;
    }
    &.inactive .volume-input-container {
        display: none;
    }
    &:hover .volume-input-container {
        opacity: 1;
        visibility: visible;
    }
}

.current-video-actions {
    margin-top: 10px;
    button {
        -webkit-appearance: none;
        border: none;
        background-color: var(--c-white);
        border-radius: 15px;
        padding: 5px 10px;
        font-size: $f-12;
        margin-right: 10px;
        .fa {
            margin-right: 5px;
        }
        &:hover {
            background-color: darken(#fff, 5%);
        }
        &:active {
            background-color: darken(#fff, 13%);
        }
    }
}