.current-video-all {
  padding: 0px 10px;
  display: inline-block;
  width: 100%;
}

.current-video-details {
    text-align: center;
    padding: 5px 0;
}

.current-video-name {
    color: var(--c-white);
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.current-video-none {
    margin: 0;
    color: var(--c-black);
}

.current-video-stats {
    display: flex;
    .stats-views {
        margin-right: auto;
    }
    p {
        margin-top: 5px;
        margin-bottom: 5px;
        color: var(--c-white);
    }
    p + p {
        margin-left: 15px;
    }
    .fa {
        margin-right: 3px;
    }
}

.current-video-share {
    display: flex;
    margin-top: 3px;
    label {
        margin: 0 15px 0 0;
        white-space: nowrap;
        padding: 7px 0;
        cursor: pointer;
        color: var(--c-primary);
    }
    input[type=text] {
        width: 100%;
        border: none;
        padding: 3px 20px;
        background: var(--c-gray);
        color: rgba(255, 255, 255, 0.3);
        margin: 0;
        outline: 0;
        border-radius: 30px;
        cursor: pointer;
        &::-moz-selection {
            background-color: transparent;
        }
        &::selection {
            background-color: transparent;
        }
        &:active {
            color: var(--c-white);
        }
    }
}

.player-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    button {
        background: transparent;
        position: relative;
        border: none;
        outline: none;
        color: var(--c-primary);
        height: 30px;
        width: 30px;
        font-size: $f-12;
        text-align: center;
        margin: 0;
        padding: 0;
        cursor: pointer;
        transition: all 0.1s ease-out;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:not(#play-song):hover {
            color: var(--c-primary);
            text-shadow: 0 0 10px var(--c-primary);
        }
        &:not(#play-song):active {
            color: var(--c-primary);
            transform: scale(1.2);
        }
    }
    #play-song { 
        background-color: var(--c-primary);
        color: var(--c-white);
        border-radius: 50%;
        span {
            margin-left: 1px;
            &.fa-pause {
                margin-left: 0;
            }
        }
        &:hover {
            box-shadow: 0 0 10px var(--c-primary);
        }
        &:active {
            transform: scale(1.1);
        }
    }
}
.current-video-range {
    position: relative;
    width: calc(100% - 130px);
    max-width: 350px;
    margin: 0 auto;
    .current-video-range-max-value,
    .current-video-range-value {
        position: absolute;
        top: -6px;
        margin: 0;
        color: var(--c-white);
    }
    .current-video-range-value {
        right: calc(100% + 15px);
    }
    .current-video-range-max-value {
        left: calc(100% + 15px);
    }
}

.player-range {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    -webkit-appearance: none;
    outline: 0;
}

.volume-range-value {
    color: var(--c-primary);
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 100px;
    margin-top: 0;
    span {
        width: 15px;
        margin-right: auto;
        cursor: pointer;
    }
    .fa {
        transition: all 0.1s ease-in-out;
        &:hover {
            text-shadow: 0 0 10px var(--c-primary);
        }
    }
    &.inactive .volume-input {
        visibility: hidden;
    }
}

.current-video-range {
    margin: 12px auto;
    padding: 3px 0;
}

.duration-range-container {
    position: relative;
    height: 3px;
    background-color: var(--c-gray);
    width: 100%;
    border-radius: 20px;
    .duration-input-shadow {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 0;
        background-color: var(--c-primary);
        box-shadow: 0 0 10px transparent;        
        transition: box-shadow 0.2s ease-out;
    }
    .player-range {
        -webkit-appearance: none;
        z-index: 1;
        position: absolute;
        top: 0;
        overflow: visible;
        &::-webkit-slider-thumb {
            position: relative;
            -webkit-appearance: none;
            top: 0;
            height: 15px;
            width: 15px;
            border-radius: 50px;
            background-color: var(--c-white);
            opacity: 0;
            visibility: hidden;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
        }
        &:active,
        &:hover {
            + .duration-input-shadow {
                box-shadow: 0 0 10px var(--c-primary);
                border-radius: 20px 0 0 20px;
            }
            &::-webkit-slider-thumb {
                opacity: 1;
                visibility: visible;
            }
        }
        &:disabled {
            &::-webkit-slider-thumb {
                display: none;
            }
        }
    }
}

.volume-input-container {
    position: relative;
    width: 80px;
    height: 3px;
    background-color: var(--c-gray);
    .volume-input-shadow {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: var(--c-primary);
        box-shadow: 0 0 10px transparent;        
        transition: box-shadow 0.2s ease-out;
        &.inactive {
            width: 0% !important;
        }
    }
    .volume-input {
        background: transparent;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        -webkit-appearance: none;
        outline: 0;
        z-index: 1;
        &::-webkit-slider-thumb {
            position: relative;
            -webkit-appearance: none;
            top: 0;
            height: 12px;
            width: 12px;
            border-radius: 50px;
            background-color: var(--c-white);
            opacity: 0;
            visibility: hidden;
            cursor: pointer;
            transition: all 0.1s ease-in-out;
        }
        &:active,
        &:hover {
            + .volume-input-shadow {
                box-shadow: 0 0 10px var(--c-primary);
                border-radius: 20px 0 0 20px;
            }
            &::-webkit-slider-thumb {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}