.round-check {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    &:before {
        content: '';
        display: block;
        background-color: darken($c-white, 10%);
        height: 20px;
        width: 40px;
        border-radius: 50px;
        transition: background-color 0.2s ease-out;
    }
    &:after {
        content: '';
        position: absolute;
        display: block;
        background-color: $c-white;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        z-index: 1;
        left: 2px;
        top: 2px;
        transition: left 0.2s ease-out;
    }
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
    + label .round-check {
        &:before {
            background-color: $c-primary;
        }
        &:after {
            left: 22px;
            background-color: $c-white;
        }
    }
}

.form-select,
.form-text {
    display: flex;
    align-items: center;
    position: relative;
    .form-field {
        margin-left: auto;
        padding: 10px 15px;
        border: 1px solid darken($c-default, 5%);
        box-shadow: 0 5px 10px rgba($c-black,0.05);
        &:disabled {
            background-color: darken($c-white, 2%);
            cursor: no-drop;
            user-select: none;
        }
    }
    .fa-color-info,
    .fa-color-danger {
        margin-left: 10px;
    }
}