* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    display: block;
}
body {
    position: relative;
    background-color: var(--c-base);
    font-family: "San Francisco";
    color: var(--c-white);    
    font-weight: 400;    
    font-size: $f-14;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    -webkit-app-region: no-drag;
}

a,
button {
  -webkit-app-region: no-drag;
  outline: 0;
  cursor: pointer;
}

a {
    color: var(--c-primary);
    
    &:active {
        color: var(--c-primary-active);
    }
}

app {
    &-search {
        width: 100%;
        margin-left: 40px;
    }
    &-component-player {
        display: block;
        position: relative;
        > div {
            position: relative;
            z-index: 2;
        }
    }
}

.container-cover-bg {
    background-position: center center;
    background-size: 140% auto;
    filter: blur(40px);
    opacity: 0.8;
    position: absolute;
    left: -50px;
    top: 20px;
    height: 250px;
    right: 0;
    bottom: 0;
    z-index: 0;
    transition: all 0.1s ease-out;
}