* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    display: block;
}
body {
    position: relative;
    background-color: var(--c-base);
    font-family: "San Francisco";
    color: var(--c-white);    
    font-weight: 400;    
    font-size: $f-14;
    line-height: 1.5;
    user-select: none;
    margin: 0;
    padding: 0;
    cursor: default;
    -webkit-app-region: no-drag;
    overflow: hidden;
    animation: loading-animation 2s 1;
}

a,
button {
  -webkit-app-region: no-drag;
  outline: 0;
}

a {
    color: var(--c-primary);
    
    &:active {
        color: var(--c-primary-active);
    }
}

#app-container {
    position: relative;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 0, 0, 0.1) 0%, var(--c-base) 30%);
}