header {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 10px 0;
    @media (max-width: 575px) { width: auto; }

    @media (min-width: 576px) and (max-width: 767px) { width: 540px; }

    @media (min-width: 768px) and (max-width: 991px) { width: 720px; }

    @media (min-width: 992px) and (max-width: 1199px) { width: 960px }

    @media (min-width: 1200px) { width: 1140px; }
}

#logo {
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.1s ease-out;
    small {
        position: absolute;
        left: calc(100% + 5px);
        top: 0;
    }
    a {
        -webkit-user-drag: none;        
    }
}

.logo-svg {
    display: block;
    @include icon-svg(logo, 111px, 25px, red, white, white);
    transition: all 0.1s ease-out;
    &:hover {
        @include icon-svg(logo, 111px, 25px, white, white, #17171d);
    }
}
