header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

#logo {
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.1s ease-out;
    small {
        position: absolute;
        left: calc(100% + 5px);
        top: 0;
    }
    a {
        -webkit-user-drag: none;        
    }
}

.logo-svg {
    display: block;
    @include icon-svg(logo, 111px, 25px, red, white, white);
    transition: all 0.1s ease-out;
    &:hover {
        @include icon-svg(logo, 111px, 25px, white, white, #17171d);
    }
}
