.header-bar {
    -webkit-app-region: drag;
    text-align: center;
    position: relative;
    height: 26px;
    width: 100%;
    z-index: 2;    
    &:before {
        content: '';
        background-color: var(--c-black);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    h1 {
        margin: 0;
        font-size: $f-12;
        position: relative;
        z-index: 1;
        padding: 4px 0;
        color: rgba(255, 255, 255, 0.7);
    }
}

.linux-controls {
    display: none;
    position: absolute;
    left: 10px;
    top: 7px;
    z-index: 9999;
    button {
        background: transparent;
        border: none;
        outline: 0;
        display: block;
        height: 14px;
        width: 14px;
        padding: 0;
        border-radius: 50%;        
        cursor: pointer;
        + button {
            margin-left: 5px;
        }        
    }
}

.app-mac {
    #linux-close {
        background-color: #fc5753;
        &:active {
            background-color: #F53B38;
        }
    }
    
    #linux-minimize {
        background-color: #fdbc40;
        &:active {
            background-color: #FC9F00;
        }
    }
    
    #linux-maximize {
        background-color: #33c748;
        &:active {
            background-color: #23A134;
        }
    }    
}

.app-linux {
    #linux-close {
        background-color: #fc5753;
        &:active {
            background-color: #F53B38;
        }
    }
    
    #linux-minimize {
        background-color: #585869;
        &:active {
            background-color: #464657;
        }
    }
    
    #linux-maximize {
        background-color: #4f4f54;
        &:active {
            background-color: #38383D;
        }
    }    
}

.win-controls {
    display: none;
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    button {
        background: transparent;
        border: none;
        outline: 0;
        padding: 0 8px;
        display: block;
        cursor: pointer;        
    }
}

#win-close {
    background-color: var(--c-primary-active);
    background-image: url('../img/ui/win-close.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px auto;
    width: 40px;
    span {
        color: var(--c-white);
    }
    &:active {
        background-color: var(--c-primary-active-focus);
        background-size: 14px auto;
    }
}

#win-maximize {
    background-image: url('../img/ui/win-maxim.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13px auto;
    width: 35px;
    &:active {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

#win-minimize {
    background-image: url('../img/ui/win-minim.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13px auto;
    width: 25px;
    &:active {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

#logo {
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.1s ease-out;
    small {
        position: absolute;
        left: calc(100% + 5px);
        top: 0;
        color: var(--c-primary);
    }
    a {
        -webkit-user-drag: none;        
    }
}

.header-bar h1 {
    display: flex;
    align-items: center;
    width: 130px;
    margin: 0 auto;
}

.favicon-app {
    display: inline-block;
    @include icon-svg(logoNew, 20px, 15px, red, white, white);
}

.logo-svg {
    display: block;
    @include icon-svg(logo, 111px, 25px, red, white, white);
    transition: all 0.1s ease-out;
    &:hover {
        @include icon-svg(logo, 111px, 25px, white, white, #17171d);
    }
}

.app {
    &-head {
        height: 100px;
        display: flex;
        align-items: center;
        padding: 0 20px 0 20px;
        .settings {
            margin-left: auto;
            margin-top: 7px;
        }
    }
}

.settings {
    .fa {
        margin-right: 3px;
    }
    p {
        margin: 0;
        opacity: 0.3;
        cursor: pointer;
        display: inline-block;
        transition: all 0.1s ease-out;
        + p {
            margin-left: 10px;
        }
        &:hover {
            opacity: 1;
        }
        &.active {
            opacity: 1;
            color: var(--c-primary);
        }
    }
}

.header-bar {
    display: none;
}

.device-bar {
    height: 45px;
    width: 100%;
    background-color: var(--c-gray);
    position: fixed;
    top: 0;
    z-index: 2;
    .trigger-nav {
        padding: 0;
        border: none;
        margin: 14px 0 0 10px;
        background-color: transparent;
        color: var(--c-white);
        text-transform: uppercase;
        cursor: pointer;
        opacity: 0.4;
        transition: all 0.1s ease-out;
        .fa {
            margin-right: 5px;
        }
        &:hover {
            opacity: 0.7;
        }
        &:active {
            opacity: 1;
        }
    }
    .logo-svg-small {
        display: block;
        @include icon-svg(logo, 70px, 16px, white, white, #17171d);
        transition: all 0.1s ease-out;
        &:hover {
            @include icon-svg(logo, 70px, 16px, red, white, white);
        }
    }
    small {
        font-size: 7px;
    }
}