.icon {
    font-size: 12px;
    line-height: 10px;
    display: inline-block;
    font-family: "Ionicons";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    text-transform: none;
    speak: none;
}

.icon-xl {
    font-size: 32px;
    line-height: 24px;
}

.icon-lg {
    font-size: 20px;
    line-height: 16px;
}

.icon-md {
    font-size: 16px;
    line-height: 14px;
}

.icon-mr {
    margin-right: 5px;
}

.icon-ml {
    margin-left: 5px;
}