@keyframes placeHolderShimmer {
	0% {
		background-position: -800px 0;
	}
	100% {
		background-position: 800px 0;
	}
}

.loading-anim {
	background-color: rgb(var(--c-base));
	background-size: 800px 104px;
	border-radius: var(--border-radius);
}

.loading-list {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	padding: 0 25px;
	.loading-small-box {
		margin-top: 10px;
	}
	.loading-box:last-child {
		margin-right: 0;
	}
}

.loading-video-item {
	display: flex;
	margin-bottom: 5px;
	.loading-featured {
		height: 70px;
		width: 80px;
		margin-right: 0;
	}
	.loading-medium-box {
		height: 70px;
		margin-left: 10px;
	}
}

.loading-feed-list {
	height: 200px;
	width: calc(33.333% - 10px);
	display: block;
	margin: 0 5px 10px;
}

.loading-box {
	height: 156px;
	width: 100%;
	margin-right: 10px;
}

.loading-medium-box {
	height: 110px;
	width: 100%;
	margin: 0 auto;
}

.loading-small-box {
	height: 30px;
	width: 100%;
	margin: 0 auto;
}

.loading-featured.main-player-loading {
	height: 205px;
	margin-top: 20px;
	margin-bottom: 40px;
	width: 100%;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.loading-feed-list {
		width: calc(50% - 10px);
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.loading-feed-list {
		width: calc(100% - 10px);
		height: 190px;
	}
	.loading-list {
		height: 155px;
		flex-wrap: wrap;
		.loading-box {
			width: 147px;
			margin-right: 10px;
		}
		.loading-box:nth-child(4) {
			margin-right: 0;
		}
	}
}
