@mixin bp($point) {
    @if $point == lg {
        @media (min-width: 1200px) { @content; }
    }
    @else if $point == md {
        @media (max-width: 1199px) and (min-width: 992px) { @content; }
    }
    @else if $point == sm {
        @media (max-width: 991px) and (min-width: 768px)  { @content; }
    }
    @else if $point == xs {
        @media (max-width: 767px)  { @content; }
    }
}

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @return if($index,
        str-slice($string, 1, $index - 1) + $replace +
        str-replace(str-slice($string, $index +
        str-length($search)), $search, $replace),
        $string);
}

@function svg-url($svg, $fillColor, $secondColor, $thirdColor) {
    @if not str-index($svg,xmlns) {
        $svg: str-replace($svg, '<svg', '<svg xmlns="http://www.w3.org/2000/svg"');
    }
    $encoded: '';
    $slice: 2000;
    $index: 0;
    $loops: ceil(str-length($svg)/$slice);
    @for $i from 1 through $loops {
        $chunk: str-slice($svg, $index, $index + $slice - 1);
        $chunk: str-replace($chunk, '{{fillColor}}', $fillColor);
        $chunk: str-replace($chunk, '{{secondColor}}', $secondColor);
        $chunk: str-replace($chunk, '{{thirdColor}}', $thirdColor);
        $chunk: str-replace($chunk, '"', '\'');
        $chunk: str-replace($chunk, '%', '%25');
        $chunk: str-replace($chunk, '&', '%26');
        $chunk: str-replace($chunk, '#', '%23');
        $chunk: str-replace($chunk, '{', '%7B');
        $chunk: str-replace($chunk, '}', '%7D');
        $chunk: str-replace($chunk, '<', '%3C');
        $chunk: str-replace($chunk, '>', '%3E');
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }
    @return url("data:image/svg+xml,#{$encoded}");
}

@mixin icon-svg($svgName, $width, $height, $fillColor, $secondColor:'', $thirdColor:'', $hoverColor:'', $activeColor:'') {
    width: $width;
    height: $height;
    background-image: svg-url(map-get($svgIcons, $svgName), $fillColor, $secondColor, $thirdColor);
    background-size: $width $height;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @if $hoverColor != '' {
        &:hover {
            background-image: svg-url(map-get($svgIcons, $svgName), $hoverColor, $secondColor, $thirdColor);
            background-size: $width $height;
        }
    }
    @if $activeColor != '' {
        &:active {
            background-image: svg-url(map-get($svgIcons, $svgName), $activeColor, $secondColor, $thirdColor);
            background-size: $width $height;
        }
    }
}