.nav-overlay {
    background-color: rgba($c-black, 0.6);
    position: fixed;
    opacity: 0;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-out;
    z-index: 9998;
}

#main-nav {
    background-color: $c-white;
    position: fixed;
    padding: 10px 15px;
    box-shadow: 5px 0px 10px 0px rgba($c-black, 0.05);
    top: 0;
    left: -295px;
    width: 280px;
    height: 100%;
    transition: left 0.2s ease-out;
    z-index: 9999;
    h2 {
        margin: 2px 0;
        padding-right: 20px;
        font-size: 16px;
    }
    &.active {
        left: 0;
        + .nav-overlay {
            position: fixed;
            opacity: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 9998;
        }
    }
}

#settingsForm {
    margin-top: 15px;
    input[type="checkbox"],
    input[type="radio"] {
        display: none;
    }
    label {
        position: relative;
        cursor: pointer;
        display: block;
    }
    .form-group {
        padding: 5px 0;
    }
}

// app-yt-2

nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a {
        display: block;
        text-decoration: none;
        color: $c-white;
        text-transform: uppercase;
        padding: 10px 15px;
        transition: all 0.1s ease-out;
        .fa {
            margin-right: 10px;
        }
        &:hover {
            background-color: $c-primary;
        }
    }
}