nav {
    margin-left: 45px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    li {
        padding-left: 0;
        list-style: none;
        margin-left: 15px;
    }
    a {
        display: block;
        text-decoration: none;
        color: var(--c-white);
        font-size: $f-14;
        -webkit-user-drag: none;
        position: relative;
        transition: all 0.1s ease-out;
        opacity: 0.3;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.3px;
        .fa {
            color: var(--c-white);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &:hover {
            opacity: 1;
        }
        &.is-active,
        &:active {
            opacity: 1;
            color: var(--c-white);
            .fa {
                color: var(--c-white);
            }
            .description {
                text-shadow: none;
            }
        }
    }
}