nav {
    margin-left: 45px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    li {
        padding-left: 0;
        list-style: none;
        margin-left: 15px;
    }
    a {
        display: block;
        text-decoration: none;
        color: #6a7586;
        font-size: $f-14;
        -webkit-user-drag: none;
        position: relative;
        transition: all 0.1s ease-out;
        font-size: $f-14;
        font-weight: 600;
        letter-spacing: 0.3px;
        &.is-active,
        &:active {
            color: var(--c-white);
            .fa {
                color: var(--c-white);
            }
            .description {
                text-shadow: none;
            }
        }
    }
}