#settingsForm {
    margin-top: 0;
    input[type="checkbox"],
    input[type="radio"] {
        display: none;
    }
    label {
        position: relative;
        cursor: pointer;
        display: block;
    }
    .form-group {
        padding: 5px 0;
    }
}

nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        padding-left: 0;
    }
    a {
        display: block;
        text-decoration: none;
        color: $c-white;
        font-size: 14px;
        padding: 10px 15px;
        transition: all 0.1s ease-out;
        border-left: 3px solid transparent;
        .fa {
            margin-right: 10px;
            color: $c-primary;
        }
        &:hover {
            border-left-color: $c-primary;
        }
        &.is-active,
        &:active {
            background: $c-primary;
            border-left-color: $c-primary;
            color: $c-white;
            .fa {
                color: $c-white;
            }
        }
    }
}