@media screen and (min-width: 1200px) {
    .device-bar {
        display: none;
    }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
    .col {
        &-2,
        &-3 {
            width: 50%;       
        }

        &-2 {
            left: calc(50% - var(--menu-diff));
        }
        &-3 {
            left: calc(-50% + var(--menu-diff));
        }
    }
    
    .app {
        &-head {
            padding: 15px 10px 0;
            height: 55px;
            h2 {
                font-size: $f-20;
            }
            .settings {
                margin-top: 5px;
            }
        }
        &-content {
            height: calc(100% - 55px);
        }
        &-feed .app-content {
            padding: 0 10px;
        }
    }
    #app-container {
        height: calc(100% - 45px);
    }
    #feed-video-list {
        width: calc(100% - 20px);
    }

    #youtube-player {
        padding: 0 10px;
    }
}

@media screen and (max-width: 1199px) {
    body {
        padding-top: 45px;
    }
    .col {
        &-1 {
            left: -350px;
            position: fixed;
            height: 100%;
            z-index: 2;
            background-color: #14171f;
            transition: all 0.6s ease-in-out;
        }
        &-2,
        &-3 {
            left: 0;
        }
    }

    #feed-video-list {
        &::-webkit-scrollbar {
            width: 8px;
        }
    }
    
    .app {
        &-head {
            padding: 15px 10px 0;
            height: 55px;
            h2 {
                font-size: $f-20;
            }
            .settings {
                margin-top: 5px;
            }
        }
        &-content {
            position: relative;
        }
    }
    
    .app-services {
        .app-head {
            display: none;
        }
        .app-content {
            height: 100%;
        }
    }

    .app-feed {
        .app-content {
            padding: 0 10px;
        }
    }

    .menu-active {
        .col-1 {
            left: 0;
        }
    }
    .notif {
        position: fixed;
        z-index: 3;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .btn {
        padding: 5px 12px;
    }
    .video-list-featured .video-item {
        max-width: 100%;
    }
    .video-list-featured .video-item-settings-featured button + button {
        margin-left: 6px;
    }
}

@media screen and (max-width: 767px) {
    body {
        overflow: visible;
    }
    .app {
        position: relative;
    }
    .col {
        &-2,
        &-3 {
            width: 100%;
        }
    }
    #app-container {
        & > .container {
            display: block;
        }
        &.light-mode > .container {
            background-color: var(--c-white);            
        }
    }
    .app-content {
        overflow: visible;
    }

    #related-video-list {
        position: relative;
        height: auto;
        display: block;
        margin-top: 10px;
        .related-video-content {
            position: relative;
            height: 160px;
        }
    }

    #feed-video-list {
        position: relative;
        width: 100%;
    }

    .video-list-featured {
        margin: 10px -10px 0;
    }

    .form-select, .form-text {
        display: block;
        label {
            margin-bottom: 5px;
        }
    }

    #playlist-video-list .playlist-video-content {
        bottom: 45px;
        height: calc(100% - 84px);
    }
}