#main-search {
    width: 100%;
    display: block;
    position: relative;
    color: var(--c-white);
    .search-icon {
        position: absolute;
        top: 50%;
        left: 10px;
        font-size: $f-18;
        transform: translateY(-50%);
        color: rgba(#6a7586,0.5);
        cursor: pointer;
        z-index: 2;
        transition: all 0.1s ease-out;
    }
    .form-group {
        position: relative;
        z-index: 10;
    }
    .input-group {
        position: relative;
    }
    input[type="text"] {
        border: none;
        display: block;
        width: 100%;
        padding: 10px 40px 10px 35px;
        margin: 0;
        outline: 0;
        position: relative;
        background-color: transparent;
        border: 2px solid rgba(#6a7586,0.5);
        color: var(--c-white);
        border-radius: 5px;
        font-size: $f-14;
        z-index: 1;
        transition: all 0.2s ease-out;
        &::-webkit-input-placeholder {
            color: var(--c-gray);
        }
        &:focus {
            border-color: var(--c-gray);
            + .search-icon {
                color: var(--c-gray);
            }
        } 
    }
    .clear-button {
        border: none;
        font-size: $f-12;
        background: transparent;
        color: var(--c-gray);
        padding: 0;
        margin: 0;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%) scale(1);
        z-index: 2;
        outline: 0;
        transition: all 0.1s ease-out;
    }
    &.ng-invalid {
        .clear-button {
            transform: translateY(-50%) scale(0);
        }
    }
    .settings {
        display: flex;
        margin-top: 20px;
        align-items: center;
    }
}

.tooltip {
    background-color: var(--c-black);
    padding: 5px 10px;
    line-height: 18px;
    width: 111px;
    font-size: $f-12;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    bottom: 100%;
    transition: all 0.1s ease-out;
    &:before {
        content: '';
        background-color: var(--c-black);
        height: 10px;
        width: 10px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        display: block;
        position: absolute;
        bottom: -4px;
        z-index: -1;
    }
}

.categories {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    select {
        -webkit-appearance: none;
        border: none;
        background: #191f27;
        color: #ffffff;
        border-radius: 3px;
        padding: 8px;
    }
    label {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
    }
}
