/* --- Colors --- */
// Base colors
$c-base: #f7f8fa;
$c-default: #f5f5f5;
$c-primary: #e52d27;
$c-primary-active: darken(#e52d27, 10%);
$c-secondary: #167ac6;

$c-gray: #111111;
$c-light-gray: #969696;
$c-black: #000;
$c-white: #ffffff;

/* --- Fonts --- */
// Font sizes
$f-10: 10px;
$f-11: 11px;
$f-12: 12px;
$f-13: 13px;
$f-14: 14px;
$f-16: 16px;
$f-18: 18px;
$f-20: 20px;
$f-22: 22px;
$f-24: 24px;
$f-26: 26px;
$f-28: 28px;
$f-30: 30px;
$f-32: 32px;