/* --- Fonts --- */
@font-face {
    font-family: "San Francisco";
    font-weight: 100;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
  }
  
  /** Thin */
  @font-face {
    font-family: "San Francisco";
    font-weight: 200;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
  }
  
  /** Regular */
  @font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }
  
  /** Medium */
  @font-face {
    font-family: "San Francisco";
    font-weight: 500;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
  }
  
  /** Semi Bold */
  @font-face {
    font-family: "San Francisco";
    font-weight: 600;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
  }
  
  /** Bold */ 
  @font-face {
    font-family: "San Francisco";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
  }

// Font sizes
$f-8: 8px;
$f-9: 9px;
$f-10: 10px;
$f-11: 11px;
$f-12: 12px;
$f-13: 13px;
$f-14: 14px;
$f-16: 16px;
$f-18: 18px;
$f-20: 20px;
$f-22: 22px;
$f-24: 24px;
$f-26: 26px;
$f-28: 28px;
$f-30: 30px;
$f-32: 32px;


// If you don't use darken and other sass functions use this
:root {
    --c-base: #0c0e11;
    --c-primary: red;
    --c-primary-active: #d42222;
    --c-primary-active-focus: #bb2222;
    --c-primary-inverse: #27272d;
    
    --c-danger: red;
    --c-danger-active: #D30000;
    --c-secondary: #167ac6;
    --c-success: #23CF5F;
    --c-success-active: #1db351;

    --c-gray: #6a7586;
    --c-soft-white: #c3c5c8;

    --c-dark-gray: rgba(0,0,0, 0.2);
    --c-white: #ffffff;
    --c-black: #000000;
}


$svgIcons: (
    logo: '<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 507.89334 113.38667" height="113.38667" width="507.89334" xml:space="preserve" id="svg2" version="1.1"><metadata id="metadata8"><rdf:RDF><cc:Work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" /></cc:Work></rdf:RDF></metadata><defs id="defs6" /><g transform="matrix(1.3333333,0,0,-1.3333333,0,113.38667)" id="g10"><g transform="scale(0.1)" id="g12"><path id="path14" style="fill:{{fillColor}};fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 1189.46,717.602 c -13.97,52.273 -55.13,93.433 -107.4,107.41 -94.744,25.383 -474.634,25.383 -474.634,25.383 0,0 -379.899,0 -474.633,-25.383 C 80.5234,811.035 39.3594,769.875 25.3867,717.602 0,622.863 0,425.195 0,425.195 c 0,0 0,-197.66 25.3867,-292.406 C 39.3594,80.5234 80.5234,39.3594 132.793,25.3867 227.527,-0.00390625 607.426,-0.00390625 607.426,-0.00390625 c 0,0 379.89,0 474.634,25.39060625 52.27,13.9727 93.43,55.1367 107.4,107.4023 25.39,94.746 25.39,292.406 25.39,292.406 0,0 0,197.668 -25.39,292.407" /><path id="path16" style="fill:{{thirdColor}};fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 485.941,242.973 315.61,182.218 -315.61,182.231 z" /><path id="path18" style="fill:{{secondColor}};fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 1898.02,160.121 c 6.64,17.375 9.98,45.742 9.98,85.137 v 165.933 c 0,38.231 -3.34,66.164 -9.98,83.84 -6.67,17.66 -18.4,26.496 -35.19,26.496 -16.22,0 -27.67,-8.836 -34.32,-26.496 -6.66,-17.676 -9.99,-45.609 -9.99,-83.84 V 245.258 c 0,-39.395 3.18,-67.762 9.56,-85.137 6.36,-17.383 17.94,-26.062 34.75,-26.062 16.79,0 28.52,8.679 35.19,26.062 z M 1763.35,76.7148 c -24.03,16.211 -41.12,41.4062 -51.25,75.5862 -10.14,34.168 -15.21,79.629 -15.21,136.394 v 77.321 c 0,57.339 5.78,103.382 17.38,138.136 11.58,34.746 29.67,60.078 54.29,76.016 24.62,15.922 56.91,23.887 96.87,23.887 39.38,0 70.95,-8.114 94.7,-24.325 23.74,-16.218 41.11,-41.566 52.12,-76.015 11,-34.465 16.51,-80.36 16.51,-137.699 v -77.321 c 0,-56.765 -5.36,-102.382 -16.07,-136.836 -10.72,-34.461 -28.1,-59.6559 -52.12,-75.5738 -24.05,-15.9297 -56.63,-23.8985 -97.74,-23.8985 -42.28,0 -75.45,8.1172 -99.48,24.3281" /><path id="path20" style="fill:{{secondColor}};fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 3623.76,511.574 c -6.07,-7.531 -10.13,-19.844 -12.15,-36.922 -2.05,-17.093 -3.04,-43.007 -3.04,-77.757 v -38.227 h 87.73 v 38.227 c 0,34.164 -1.16,60.082 -3.46,77.757 -2.33,17.657 -6.52,30.11 -12.6,37.356 -6.09,7.234 -15.51,10.859 -28.24,10.859 -12.75,0 -22.15,-3.773 -28.24,-11.293 z m -15.19,-224.14 v -26.942 c 0,-34.179 0.99,-59.804 3.04,-76.883 2.02,-17.089 6.21,-29.543 12.59,-37.351 6.37,-7.824 16.2,-11.742 29.53,-11.742 17.95,0 30.27,6.964 36.93,20.863 6.65,13.894 10.27,37.059 10.86,69.5 l 103.39,-6.082 c 0.57,-4.641 0.87,-11.008 0.87,-19.113 0,-49.239 -13.47,-86.008 -40.4,-110.3324 -26.93,-24.3282 -65.02,-36.4961 -114.25,-36.4961 -59.08,0 -100.49,18.5273 -124.24,55.6095 -23.75,37.058 -35.62,94.39 -35.62,172.015 v 92.958 c 0,79.925 12.31,138.273 36.93,175.058 24.62,36.774 66.75,55.172 126.4,55.172 41.13,0 72.68,-7.535 94.7,-22.594 22,-15.062 37.49,-38.519 46.49,-70.363 8.97,-31.863 13.46,-75.891 13.46,-132.059 v -91.218 h -200.68" /><path id="path22" style="fill:{{secondColor}};fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 1471.42,297.402 -136.4,492.594 h 119.02 l 47.78,-223.277 c 12.17,-55.028 21.14,-101.942 26.93,-140.739 h 3.48 c 4.04,27.805 13.03,74.415 26.93,139.872 l 49.52,224.144 H 1727.7 L 1589.57,297.402 V 61.0781 H 1471.42 V 297.402" /><path id="path24" style="fill:{{secondColor}};fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 2415.86,593.637 V 61.0781 h -93.82 l -10.43,65.1679 H 2309 c -25.49,-49.2382 -63.72,-73.8476 -114.68,-73.8476 -35.33,0 -61.4,11.5704 -78.18,34.7461 -16.81,23.1645 -25.2,59.3635 -25.2,108.6015 v 397.891 h 119.89 V 202.691 c 0,-23.75 2.61,-40.695 7.82,-50.82 5.21,-10.148 13.89,-15.207 26.06,-15.207 10.43,0 20.42,3.176 29.97,9.563 9.56,6.367 16.65,14.461 21.29,24.324 v 423.086 h 119.89" /><path id="path26" style="fill:{{secondColor}};fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 3030.82,593.637 V 61.0781 H 2937 l -10.43,65.1679 h -2.61 c -25.5,-49.2382 -63.72,-73.8476 -114.68,-73.8476 -35.33,0 -61.4,11.5704 -78.18,34.7461 -16.81,23.1645 -25.2,59.3635 -25.2,108.6015 v 397.891 h 119.89 V 202.691 c 0,-23.75 2.6,-40.695 7.82,-50.82 5.21,-10.148 13.89,-15.207 26.06,-15.207 10.43,0 20.42,3.176 29.97,9.563 9.56,6.367 16.64,14.461 21.29,24.324 v 423.086 h 119.89" /><path id="path28" style="fill:{{secondColor}};fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 2741.64,693.547 H 2622.62 V 61.0781 H 2505.34 V 693.547 h -119.02 v 96.433 h 355.32 v -96.433" /><path id="path30" style="fill:{{secondColor}};fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 3317.71,291.281 c 0,-38.816 -1.6,-69.226 -4.78,-91.218 -3.19,-22.02 -8.55,-37.665 -16.07,-46.922 -7.53,-9.27 -17.68,-13.899 -30.4,-13.899 -9.86,0 -18.99,2.305 -27.37,6.953 -8.4,4.629 -15.21,11.575 -20.41,20.852 v 302.336 c 4.04,14.461 10.98,26.34 20.85,35.613 9.83,9.258 20.54,13.902 32.13,13.902 12.17,0 21.58,-4.781 28.24,-14.335 6.65,-9.555 11.3,-25.633 13.9,-48.219 2.61,-22.586 3.91,-54.731 3.91,-96.43 z m 109.9,217.227 c -7.24,33.582 -18.97,57.902 -35.18,72.972 -16.22,15.055 -38.53,22.586 -66.9,22.586 -22.02,0 -42.57,-6.226 -61.68,-18.675 -19.12,-12.461 -33.89,-28.825 -44.31,-49.086 h -0.88 l 0.02,280.613 H 3103.13 V 61.0898 h 99.03 l 12.17,50.3902 h 2.61 c 9.25,-17.9605 23.15,-32.148 41.7,-42.5777 18.52,-10.4218 39.09,-15.625 61.68,-15.625 40.53,0 70.37,18.6719 89.48,56.0237 19.11,37.363 28.67,95.707 28.67,175.058 v 84.274 c 0,59.644 -3.62,106.269 -10.86,139.875" /></g></g></svg>',
    logoNew: '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 250 250" style="enable-background:new 0 0 250 250;" xml:space="preserve"> <style type="text/css"> .st0{fill:#FF0000;} .st1{fill:#DF0000;} .st2{fill:#FFFFFF;} </style> <polygon class="st0" points="122.2,25.4 122.2,25.4 122.2,25.4 29.1,58.6 43.3,181.7 122.2,225.4 122.2,225.4 122.2,225.4 201.1,181.7 215.3,58.6 "/> <polygon class="st1" points="122.2,25.4 122.2,47.6 122.2,47.5 122.2,148.8 122.2,148.8 122.2,225.4 122.2,225.4 201.1,181.7 215.3,58.6 "/> <g> <path class="st2" d="M155.8,92.5c1.9,0.2,6,0.2,9.7,4.1c0,0,2.9,2.9,3.8,9.5c1,7.8,1,15.6,1,15.6v7.3c0,0,0.1,7.8-1,15.6 c-0.9,6.6-3.8,9.5-3.8,9.5c-3.6,3.8-7.8,3.8-9.7,4c0,0-13.4,1-33.6,1c-25-0.2-32.7-1-32.7-1c-2.1-0.4-7-0.3-10.6-4.1 c0,0-2.9-2.9-3.8-9.5c-1-7.8-1-15.6-1-15.6v-7.3c0,0-0.1-7.8,1-15.6c0.9-6.7,3.8-9.5,3.8-9.5c3.6-3.9,7.8-3.9,9.7-4.1 c0,0,13.4-1,33.6-1S155.8,92.5,155.8,92.5z M138.2,124.4l-26-13.6v27L138.2,124.4z"/> </g> </svg>'
);