iframe {
    width: 180px;
    height: 180px;
    display: flex;
}

.video-list {
    width: 100%;
    overflow-y: auto;
    &-info {
        text-align: center;
        margin: 5px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 2px;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: var(--c-dark-gray);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: rgba(#FFF, 0.1);
        &:hover {
            background-color: rgba(#FFF, 0.4);
        }
    }
}

.search-list.arrow-up {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

#search-video-list {
    z-index: 10;
    max-height: 430px;
    background-color: #14151b;
    position: absolute;
    top: 47px;
    padding: 0 10px 10px;
    .video-item {
        background: transparent;
        margin-top: 10px;
    }
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #08080a;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(#FFF, 0.3);
        &:hover {
            background-color: rgba(#FFF, 0.6);
        }
    }
}

.video-item-head {
    position: relative;
    margin: 15px 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    h2 {
        margin: 0;
        padding: 0;
        font-weight: 600;
        font-size: $f-24;
        display: inline-block;
        width: 100%;
    }
    &-btn {
        float: right;
        background-color: var(--c-primary);
        color: var(--c-wihte);
        border-radius: 20px;
        padding: 4px 8px;
        margin-left: 5px;
        text-transform: uppercase;
        font-size: $f-10;
        border: none;
        display: flex;
        user-select: none;
        &:active {
            background-color: var(--c-primary-active);
        }
        + .video-item-head-btn {
            margin-right: 5px;
        }
    }
    .fa {
        margin-right: 3px;
    }
}

.video-item {
    display: flex;
    align-items: center;
    background-color: var(--c-dark-gray);
    color: var(--c-white);
    padding: 0;
    position: relative;
    transition: all 0.1s ease-in-out;
    h2 {
        font-size: $f-14;
        margin: 0;
    }
    &-autor {
        font-size: $f-12;
        color: var(--c-white);
    }
    &-image {
        display: block;
        height: 70px;
        width: 80px;
        background-position: center center;
        margin-right: 10px;
        transition: all 0.1s ease-out;
        border-radius: 3px;
    }
    .video-item-details {
        display: flex;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 400;
        font-size: $f-12;
        p {
            margin: 0 15px 0 0;
        }
        .fa {
            margin-right: 3px;
        }
    }
    &-content {
        width: 100%;
        overflow: hidden;
        position: relative;
        p {
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &-info {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        width: 100%;
    }
    &-settings {
        color: var(--c-white);
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.1s ease-in-out;      
        > button {
            background-color: var(--c-black);
            color: inherit;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            text-align: center;
            border: none;
            margin: 0 5px;
            padding: 0;
            transition: all 0.1s ease-in-out;
            &:hover {
                color: var(--c-black);
                background-color: var(--c-white);
            }
            &:active {
                color: var(--c-black);
                background-color: var(--c-soft-white);
            } 
        }
        .video-item-play {
            .fa {
                font-size: $f-12;
            }
            .fa-play {
                margin-left: 2px;
            }
            .fa-pause {
                margin-left: 1px;
            }
        }
        .video-item-add {
            .fa {
                position: relative;
            }
        }
    }
    &-title {
        line-height: 18px;
    }
    &-hint {
        text-transform: uppercase;
        font-size: $f-10;
        line-height: 16px;
        border: 1px solid var(--c-primary);
        color: var(--c-primary);
        display: none;
        padding: 0 5px;
        font-weight: 600 !important;
        .fa {
            font-size: $f-8;
            margin-right: 3px;
            position: relative;
            top: -1px;
        }
    }
    &:hover {
        .video-item-settings {
            opacity: 1;
            visibility: visible;
        }
    }
    &.active {
        .video-item-hint {
            display: inline-block;
        }
    }
}

.gu-transit {
    background-color: rgba(255, 255, 255, 0.05) !important;
    .video-item-hint {
        color: var(--c-white);
        border-color: var(--c-white);
    }
}

.ex-over {
    background-color: rgba(255, 255, 255, 0.01) !important;
    border: 2px dashed rgba(255, 255, 255, 0.2) !important;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    .video-item:hover {
        .video-item-image {
            transform: scale(1);
        }
        .video-item-settings {
            opacity: 0;
            visibility: hidden;
        }
    }
}

#related-video-list {
    .leftRs,
    .rightRs {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        -webkit-appearance: none;
        background: rgba(255, 255, 255, 0.1);
        height: 30px;
        width: 30px;
        border-radius: 50%;
        color: var(--c-white);
        border: none;
        cursor: pointer;
        padding: 0;
        text-align: center;
        font-size: $f-18;
        line-height: 18px;
        transition: all 0.1s ease-out;
        &:hover {
            background: rgba(255, 255, 255, 0.3);
        }
        &:active {
            background: rgba(255, 255, 255, 0.6);
        }
    }
    .leftRs {
        left: 0;
    }
    .rightRs {
        right: 0;
    }
    .ngucarousel {
        position: relative;
        padding: 0 15px;
        &-inner {
            margin: 0 -15px;
            padding: 0 10px;
        }
    }
    .ngu-touch-container {
        overflow: hidden;
    }
    .ngucarouselPointDefault {
        display: none;
    }
    .video-item {
        margin: 0 10px;
        padding: 0;
        background: transparent;
        &-info {
            flex-wrap: wrap;
            width: 100%;
        }
        &-image {
            width: 100%;
            height: 110px;
            background-repeat: no-repeat;
            background-size: 150% auto;
            margin: 0 0 10px;
            border-radius: 3px;
        }
        &-autor {
            font-weight: bold;
        }
        &-settings {
            border-radius: 3px;
        }
        &:hover {
            .video-item-image {
                background-size: 135% auto;
            }
        }
    }
}

.history-video-content .video-item {
    margin-bottom: 10px;
}

#playlist-video-list {
    display: flex;
    flex-wrap: wrap;
    max-height: none;
    width: 100%;
    margin-right: 20px;
    transition: height 0.1s ease-out 0.1s;
    .playlist-video-content {
        width: 100%;
        overflow: auto;
        z-index: 0;
        border: 0 dashed transparent;
        transition: all 0.2s ease-out;
        max-height: 1260px;
        .video-item-settings {
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
        }
        .video-item:not(.active) {
            background-color: transparent;
        }
        &::-webkit-scrollbar-track {
            border-radius: 2px;
        }
    
        &::-webkit-scrollbar {
            width: 6px;
            background-color: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background-color: rgba(#FFF, 0.1);
            &:hover {
                background-color: rgba(#FFF, 0.4);
            }
        }
    }
    .video-item {
        padding: 5px 0;
    }
}
.feed-video-list {
    top: inherit;
    bottom: 0;
    width: 100%;
    &.grid-list {
        display: flex;
        flex-wrap: wrap;
        .video-item {
            width: calc(33.333% - 10px);
            display: block;
            margin: 0 5px 10px;
            padding: 0;
            position: relative;
            overflow: hidden;
            border-radius: 3px;
            &-details {
                text-align: center;
                margin-top: 8px;
                font-size: $f-11;
                margin-bottom: 5px;
                p {
                    width: 100%;
                    margin: 0 5px;
                }
            }
            &-image {
                margin: 0;
                position: relative;
                width: 100%;
                height: 130px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                transition: all 0.1s ease-in-out;
                &:before {
                    content: '';
                    display: block;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 35%, var(--c-black) 75%, var(--c-black) 100%);
                }
            }
            &-content {
                margin: 0;
                position: absolute;
                bottom: 0;
                > p {
                    padding: 0 10px;
                }
            }
            &-info {
                display: block;
                padding: 0;
            }
            &.hidden-thumbnails {
                .video-item-content {
                    position: relative;
                    padding: 10px 0;
                }
            }
            &:hover {
                .video-item {
                    &-info {
                        left: 0;
                    }
                    &-settings {
                        opacity: 1;
                        visibility: visible;
                        top: 0;
                    }
                    &-image {
                        transform: scale(1.1);
                    }
                }
            }
            @media screen and (max-width: 1400px) and (min-width: 992px) {
                width: calc(50% - 10px);
            }
            @media screen and (max-width: 991px) {
                width: calc(100% - 10px);
            }
        }
    }
    &.video-list:not(.grid-list) {
        padding-bottom: 10px;
        .video-item {
            margin-top: 10px;
        }
    }
    &::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }
}