.video-list {
    position: absolute;
    width: 100%;
    top: 45px;
    overflow-y: auto;
}

.video-list-info {
    text-align: center;
    margin: 5px;
}

#search-video-list {
    z-index: 10;
    max-height: 430px;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.15);
    &::-webkit-scrollbar-track {
        border-radius: 2px;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: $c-white;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: rgba($c-black, 0.3);
        &:hover {
            background-color: rgba($c-black, 0.6);
        }
    }
}

iframe {
    width: 100%;
    max-height: 350px;
    display: flex;
}

.video-item-head {
    background-color: $c-primary;
    color: $c-white;
    width: 100%;
    height: 39px;
    padding: 8px;
}

.video-item {
    display: flex;
    align-items: center;
    background-color: $c-white;
    border-bottom: 1px solid rgba($c-black,0.03);
    padding: 5px 10px;
    cursor: pointer;
    h2 {
        font-size: $f-14;
        margin: 0;
    }
    p {
        margin: 0;
    }
    &-count {
        font-family: 'Muli', sans-serif;
        padding-right: 7px;
    }
    &:last-child {
        padding-bottom: 10px;
    }
}

.video-item-image {
    flex: 0 0 45px;
    margin: 0 10px 0 0;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.video-item-details {
    display: flex;
    p {
        margin: 0 15px 0 0;
        line-height: 14px;
        font-size: 12px;
        color: $c-light-gray;
    }
    .fa {
        margin-right: 3px;
        color: $c-black;
    }
}

#related-video-list {
    display: flex;
    flex-wrap: wrap;
    top: inherit;
    bottom: 0;
    max-height: none;
    height: calc(100% - 190px);
    width: 100%;
    transition: height 0.1s ease-out 0.1s;
    .video-item {
        display: flex;
        background-color: transparent;
        flex-wrap: nowrap;
        padding: 5px 10px;
        transition: box-shadow 0.1s ease-out;
    }
    .video-item-image {
        flex: inherit;
        margin: 0 10px 0 0;
        position: relative;
        img {
            width: 45px;
            height: auto;
        }
    }
    .related-video-content {
        position: absolute;
        bottom: 0;
        height: calc(100% - 39px);
        width: 100%;
        overflow: auto;
        background-color: $c-white;
        &::-webkit-scrollbar-track {
            border-radius: 2px;
        }

        &::-webkit-scrollbar {
            width: 5px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background-color: rgba($c-black, 0.3);
        }
    }
    &.activePlayer {
        height: calc(100% - 380px);
        transition: height 0.1s ease-out 0s;
    }
}

#history-video-list {
    display: flex;
    flex-wrap: wrap;
    top: inherit;
    bottom: 0;
    max-height: none;
    height: calc(100% - 177px);
    width: 100%;
    transition: height 0.1s ease-out 0.1s;
    .video-item-head {
        background-color: darken($c-primary-inverse, 3%);
    }
    .video-item {
        display: flex;
        background-color: transparent;
        flex-wrap: nowrap;
        border-bottom: 1px solid rgba($c-white, 0.05);
        transition: box-shadow 0.1s ease-out;
        padding: 5px;
    }
    .video-item-image {
        flex: inherit;
        margin: 0 5px 0 0;
        position: relative;
        img {
            width: 45px;
            height: auto;
        }
    }
    .history-video-content {
        position: absolute;
        bottom: 0;
        height: calc(100% - 39px);
        width: 100%;
        overflow: auto;
        background-color: darken($c-primary-inverse, 5%);
        color: $c-white;
        &::-webkit-scrollbar-track {
            border-radius: 2px;
        }

        &::-webkit-scrollbar {
            width: 5px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background-color: rgba($c-white, 0.3);
        }
    }
}

.video-list-featured {
    margin: 10px -20px 0;
    height: 200px;
    background-position: center center;
    background-size: cover;
    position: relative;
    .video-item {
        position: absolute;
        bottom: 15px;
        left: 0;
        width: auto;
        padding: 10px 15px;
        max-width: 90%;
        background-color: rgba($c-black, 0.6);
        color: $c-white;
        border: none;
        .fa,
        p {
            color: inherit;
            font-size: inherit;
        }
        &-image {
            width: 80px;
            height: auto;
            flex: auto;
        }
        > div {
            display: inline-block;
        }
    }
}

#feed-video-list {
    top: inherit;
    bottom: 0;
    height: calc(100% - 297px);
    width: calc(100% - 20px);
    max-height: none;
    left: 0;
    padding-left: 5px;
    .video-item {
        background-color: transparent;
        border-bottom: none;
        line-height: 16px;
        padding-left: 5px;
        padding-right: 5px;
        &:first-child {
            display: none !important;
        }
    }
    &::-webkit-scrollbar-track {
        border-radius: 2px;
    }

    &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: rgba($c-black, 0.1);
        &:hover {
            background-color: rgba($c-black, 0.6);
        }
    }
    &.grid-list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        .video-item {
            width: calc(33.333% - 10px);
            display: block;
            margin: 0 5px;
            padding: 0;
            position: relative;
            .video-item-image {
                margin: 0;
                position: relative;
            }
            .video-item-content {
                margin: 5px 0 15px 0;
            }
            .video-item-count {
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba($c-black, 0.7);
                padding: 7px 12px;
                color: $c-white;
                z-index: 1;
            }
            &:not(.hidden-thumbnails) {
                .video-item-count {
                    top: 10px;
                    left: 10px;
                    height: 40px;
                    width: 40px;
                    line-height: 27px;
                    font-size: 12px;
                    text-align: center;
                    border-radius: 50%;
                }
            }
            &.hidden-thumbnails {
                .video-item-count {
                    position: relative;
                    text-align: center;
                    background-color: $c-black;
                    padding: 5px;
                }
            }
            &:hover {
                .video-item-image {
                    &:before {
                        content: '\25B6  Play';
                        color: $c-white;
                        background-color: rgba($c-black, 0.6);
                        padding: 8px 15px;
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 50%;
                        transform: translate(50%, -50%);
                    }
                }
            }
        }
        .video-item-details {
            text-align: center;
            margin-top: 8px;
            p {
                font-size: 14px;
                width: 100%;
                margin-right: 0;
                margin-bottom: 5px;
            }
        }
    }
}