.video-item-head {
	position: relative;
	margin: 0;
	width: 100%;
	display: flex;
	align-items: flex-start;
	.btn {
		text-transform: capitalize;
		.fa {
			margin-right: 5px;
			font-size: 12px;
		}
		+ .btn {
			margin-right: 5px;
		}
	}
}
