.playlist {
	border-radius: 4px;
	overflow: hidden;
	color: rgb(var(--c-white));
	cursor: grab !important;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	border: 2px dashed transparent;
	transition: var(--default-transition);
	justify-content: center;
    display: flex;
    flex-direction: column;
}

.playlist.cdk-drop-list-dragging {
	cursor: grabbing !important;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
	border: 2px dashed rgba(var(--c-white), 0.2);
}

.video.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: var(--border-radius);
	background: rgb(var(--c-base));
	border: 2px solid rgba(var(--c-white), 0.15) !important;
	p {
		margin: 0;
	}
}


.cdk-drag-placeholder {
	opacity: 0.2;
	transition: transform 250ms cubic-bezier(var(--c-black).2, 1);
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(var(--c-black).2, 1);
}

.playlist.cdk-drop-list-dragging .video:not(.cdk-drag-placeholder) {
	transition: transform 250ms cubic-bezier(var(--c-black).2, 1);
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#playlist-video-list .playlist-video-content {
		max-height: 5200px;
	}
}
