.badge {
    background-color: rgba(var(--c-white), 0.1);
    color: rgb(var(--c-white));
    padding: 2px 5px;
    margin: 0;
    font-size: var(--font-small);
    border-radius: 3px;
    text-transform: uppercase;
    
    &-container {
        display: flex;
        margin: 5px 0;
    }
}