<div class="app-container">
    <div class="app-head">
        <h2>Settings</h2>
    </div>
    <div *ngIf="!globals.loadingState.settings">
        <form [formGroup]="internalSettings" id="internalSettings" class="settingsForm" novalidate>
            <h3>Internal Settings</h3>
            <div [ngClass]="{'hide': !globals.settings.form_settings.thumbnails.visible}" class="form-group">
                <input (change)="checkInputs()" type="checkbox" id="setting-thumbnails" class="round-checkbox"
                    formControlName="fcThumbnails" />
                <label for="setting-thumbnails">{{globals.settings.form_settings.thumbnails.name}}<span
                        class="round-check"></span></label>
            </div>
            <div [ngClass]="{'hide': !globals.settings.form_settings.listToggle.visible}" class="form-group">
                <input (change)="checkInputs()" type="checkbox" id="setting-listToggle" class="round-checkbox"
                    formControlName="fcList" />
                <label for="setting-listToggle">{{globals.settings.form_settings.listToggle.name}}<span
                        class="round-check"></span></label>
            </div>
            <div [ngClass]="{'hide': !globals.settings.form_settings.repeat.visible}" class="form-group">
                <input (change)="checkInputs()" type="checkbox" id="setting-repeat" class="round-checkbox"
                    formControlName="fcRepeat" />
                <label for="setting-repeat">{{globals.settings.form_settings.repeat.name}}<span
                        class="round-check"></span></label>
            </div>
        </form>
        <form [formGroup]="externalSettings" id="externalSettings" class="settingsForm" (ngSubmit)="externalSave()">
            <h3>External Settings</h3>
            <div class="form-group form-select">
                <label for="val-trending">Set trending country</label>
                <select id="val-trending" class="form-field" formControlName="fcRegion">
                    <option value="US">United States</option>
                    <option value="GB">United Kingdom</option>
                    <option value="RO">Romania</option>
                </select>
            </div>
            <div class="form-group form-text">
                <label for="val-api-key">Api Key</label>
                <input type="text" id="val-api-key" class="form-field" placeholder="Your key" formControlName="fcApi"
                    spellcheck="false">
            </div>
            <div class="form-group form-text">
                <label for="val-search-results">Results for search <span class="settings-hint">(Max. 50)</span></label>
                <input type="text" id="val-search-results" class="form-field" placeholder="1 to 50"
                    formControlName="fcSearchresults">
            </div>
            <div class="form-group form-text">
                <label for="val-related-results">Results for related videos <span class="settings-hint">(Max.
                        50)</span></label>
                <input type="text" id="val-related-results" class="form-field" placeholder="1 to 50"
                    formControlName="fcRelatedResults">
            </div>
            <button type="submit" class="btn btn-primary">Save settings</button>
        </form>
    </div>
</div>