<header>
	<div id="github">
		<a href="https://github.com/quead/angular-youtube-player" target="_blank" title="Angular Youtube Player GitHub" class="github-svg">Angular Youtube Player GitHub</a>
	</div>
	<div id="logo">
		<a routerLink="/category/all" class="logo-svg" title="Homepage"></a>
		<small>{{globals.regionCode}}</small>
	</div>
	<nav>
		<ul>
			<li><a routerLink="/home" routerLinkActive="is-active" title="Homepage">Home</a></li>
			<li><a routerLink="/history" routerLinkActive="is-active" title="History page">History</a></li>
			<li><a routerLink="/about" routerLinkActive="is-active" title="About application page">About</a></li>
			<li><a routerLink="/settings" routerLinkActive="is-active" title="Settings page">Settings</a></li>
		</ul>
	</nav>
	<app-search></app-search>
</header>
<app-player></app-player>
<div id="app-container">
	<input type="text" class="hide-input" #videoItemIDvalue />
	<div class="container">
		<div class="col col-3">
			<app-room></app-room>
			<app-playlist></app-playlist>
		</div>
		<div class="col col-5">
			<div class="app app-feed">
				<app-related></app-related>
				<router-outlet></router-outlet>
			</div>
			<div [ngClass]="{'active': notify.defaults.enabled }" class="notif notif-primary">
				<span class="icon ion-ios-settings"></span>
				<p>{{ notify.defaults.message }}</p>
			</div>
		</div>
	</div>
</div>
<!-- <app-player-mini></app-player-mini> -->