.video-item {
	display: flex;
	align-items: center;
	background-color: var(--c-dark-gray);
	color: var(--c-white);
	padding: 0;
	position: relative;
	transition: all 0.1s ease-in-out;
	h2 {
		font-size: 14px;
		margin: 0;
	}
	&-autor {
		font-size: 14px;
		color: var(--c-white);
		font-weight: 800;
	}
	&-image {
		display: block;
		height: 70px;
		width: 80px;
		background-size: 200% auto;
		background-position: center center;
		margin-right: 10px;
		transition: all 0.1s ease-out;
		border-radius: 6px;
	}
	.video-item-details {
		display: flex;
		color: var(--c-white);
		font-weight: 400;
		font-size: 14px;
		p {
			margin: 0 15px 0 0;
		}
	}
	&-content {
		width: 100%;
		overflow: hidden;
		position: relative;
		p {
			margin: 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	&-info {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 1;
		width: 100%;
	}
	&-settings {
		color: var(--c-white);
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.1s ease-in-out;
		> button {
			background-color: var(--c-black);
			color: inherit;
			height: 30px;
			width: 30px;
			flex: 0 0 30px;
			border-radius: 50%;
			border: none;
			align-items: center;
			justify-content: center;
			display: flex;
			margin: 0 5px;
			padding: 0;
			transition: all 0.1s ease-in-out;
			&:hover {
				color: var(--c-black);
				background-color: var(--c-white);
			}
			&:active {
				color: var(--c-black);
				background-color: var(--c-white);
				box-shadow: 0 0 0 4px rgba(#ffffff, 0.3);
			}
		}
	}
	&-title {
		line-height: 18px;
	}
	&-hint {
		text-transform: uppercase;
		font-size: 10px;
		line-height: 16px;
		border: 1px solid var(--c-primary);
		color: var(--c-primary);
		display: none;
		padding: 0 5px;
		font-weight: 600 !important;
	}
	&:hover {
		.video-item-settings {
			opacity: 1;
			visibility: visible;
		}
	}
	&.active {
		.video-item-hint {
			display: inline-block;
		}
	}
}

.video-item-details .icon,
.current-video-stats .icon {
	font-size: 14px;
}