/* --- Colors --- */
/* --- Fonts --- */
* {
  box-sizing: border-box;
}

body {
  background-color: #f7f8fa;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  user-select: none;
  cursor: default;
  color: #212121;
  width: 100%;
  height: 45px;
  padding-top: 45px;
  -webkit-app-region: drag;
  overflow: hidden;
}

a,
button {
  -webkit-app-region: no-drag;
}

a {
  color: #e52d27;
}

a:active {
  color: #c21d17;
}

.loading-app {
  position: fixed;
  color: #e52d27;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  position: absolute;
  height: 45px;
  top: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  background-color: #e52d27;
}

header h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 900;
}

#logo {
  cursor: pointer;
  transition: all 0.1s ease-out;
}

#logo:hover {
  transform: scale(1.1);
}

.win-controls {
  margin-left: auto;
  display: flex;
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
}

.win-controls button {
  background: transparent;
  border: none;
  outline: 0;
  padding: 0 8px;
  display: block;
  font-size: 10px;
}

.win-controls button span {
  transition: all 0.1s ease-out;
  color: #ffffff;
}

.win-controls button:hover span, .win-controls button:active span {
  color: rgba(255, 255, 255, 0.7);
}

#win-close {
  background-color: #c21d17;
  width: 40px;
  transform: scale(1);
}

#win-close span {
  color: #ffffff;
}

#win-close:active {
  background-color: #941612;
}

#win-close:active span {
  transform: scale(0.8);
}

.open-menu {
  background: transparent;
  color: #ffffff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  transition: all 0.1s ease-out;
}

.open-menu .fa {
  font-size: 18px;
}

.open-menu:hover {
  background-color: rgba(33, 33, 33, 0.15);
}

.open-menu:active {
  background-color: rgba(33, 33, 33, 0.3);
}

.close-menu {
  background: transparent;
  color: #212121;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: 0;
  position: absolute;
  top: 25px;
  transform: translateY(-50%);
  right: 10px;
  transition: all 0.1s ease-out;
}

.close-menu .fa {
  font-size: 18px;
}

.close-menu:hover {
  background-color: rgba(33, 33, 33, 0.05);
}

.close-menu:active {
  background-color: rgba(33, 33, 33, 0.15);
}

footer {
  position: absolute;
  height: 85px;
  width: 100%;
  bottom: 0;
  padding: 5px 0;
  text-align: center;
  background-color: #e52d27;
}

.current-video-name {
  color: #ffffff;
  margin: 0 0 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 15px 0 15px;
}

.player-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-buttons button {
  background: transparent;
  position: relative;
  border: none;
  outline: none;
  color: #ffffff;
  height: 30px;
  width: 30px;
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.player-buttons button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-buttons #play-song {
  border: 2px solid #ffffff;
  border-radius: 50%;
  transition: all 0.1s ease-out;
}

.player-buttons #play-song span {
  margin-left: 1px;
}

.player-buttons #play-song span.fa-pause {
  margin-left: 0;
}

.player-buttons #play-song:active {
  transform: scale(1.1);
}

.current-video-range {
  position: relative;
  width: 350px;
  margin: 0 auto;
}

.current-video-range .current-video-range-max-value,
.current-video-range .current-video-range-value {
  position: absolute;
  top: 0;
  margin: 0;
  color: #ffffff;
}

.current-video-range .current-video-range-value {
  right: calc(100% + 15px);
}

.current-video-range .current-video-range-max-value {
  left: calc(100% + 15px);
}

.player-range {
  width: 100%;
  height: 16px;
  margin-top: 3px;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
  outline: 0;
}

.player-range::-webkit-slider-runnable-track, .player-range::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.player-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background: #ffffff;
}

.player-range::-webkit-slider-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  margin-top: -6px;
  background: #ffffff;
  border-radius: 50%;
  transition: all 0.2s ease-out;
}

.player-range.inactive::-webkit-slider-thumb {
  display: none;
}

.volume-range-value {
  color: #ffffff;
  width: 50px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.volume-range-value p {
  color: inherit;
  margin: 0;
}

.volume-range-value input[type="range"]::-webkit-slider-thumb {
  border-radius: 0;
  height: 15px;
  width: 5px;
}

.volume-range-value.inactive input[type="range"]::-webkit-slider-thumb {
  display: none;
}

#main-nav {
  background-color: #ffffff;
  position: fixed;
  padding: 10px 15px;
  box-shadow: 5px 0px 10px 0px rgba(33, 33, 33, 0.05);
  top: 0;
  left: -215px;
  width: 200px;
  height: 100%;
  transition: left 0.1s ease-out;
  z-index: 9999;
}

#main-nav h2 {
  margin: 2px 0;
  padding-right: 20px;
  font-size: 16px;
}

#main-nav.active {
  left: 0;
}

#main-nav.active + .nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
}

.nav-overlay {
  background-color: rgba(33, 33, 33, 0.1);
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.2s ease-out;
  z-index: 9998;
}

#main-search .form-group {
  position: relative;
  z-index: 9999;
}

#main-search .input-group {
  position: relative;
}

#main-search input[type="text"] {
  border: none;
  display: block;
  width: 100%;
  padding: 15px 40px 15px 15px;
  margin: 0;
  outline: 0;
  box-shadow: 0px 5px 10px 0px rgba(33, 33, 33, 0.05);
  position: relative;
  z-index: 1;
}

#main-search .clear-button {
  border: none;
  background: transparent;
  color: rgba(33, 33, 33, 0.5);
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) scale(1);
  z-index: 2;
  outline: 0;
  transition: all 0.1s ease-out;
}

#main-search .clear-button:active {
  color: #212121;
}

#main-search.ng-invalid .clear-button {
  transform: translateY(-50%) scale(0);
}

.video-list {
  position: absolute;
  width: 100%;
  top: 91px;
  bottom: 85px;
  overflow-y: auto;
  /*&::-webkit-scrollbar {
        width: 8px;
        transform: translate3d(0, 0, 0);
    }
    
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: rgba($c-black, 0.2);
    }*/
}

#search-video-list {
  z-index: 1;
}

#search-video-list .video-item:last-child {
  box-shadow: 0px 10px 10px 0px rgba(33, 33, 33, 0.1);
}

#related-video-list {
  background-color: #f7f8fa;
  top: 130px;
}

iframe {
  width: 100%;
  visibility: hidden;
  opacity: 0;
}

.video-item-head {
  background-color: #212121;
  color: #ffffff;
  position: fixed;
  top: 91px;
  width: 100%;
  height: 39px;
  padding: 8px;
}

.video-item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(33, 33, 33, 0.05);
  padding: 10px 15px;
  cursor: pointer;
}

.video-item h2 {
  font-size: 14px;
  margin: 0;
}

.video-item p {
  margin: 0;
}

.video-item .author {
  color: rgba(33, 33, 33, 0.5);
}

.video-item-image {
  flex: 0 0 55px;
  margin: 0 10px 0 0;
}

.video-item-image img {
  display: block;
  width: 100%;
  height: auto;
}
