/* --- Colors --- */
/* --- Fonts --- */
:root {
  --c-base: #17171d;
  --c-primary: #bb2222;
  --c-primary-active: #9c1717;
  --c-primary-active-focus: #801212;
  --c-primary-inverse: #232228;
  --c-danger: red;
  --c-danger-active: #D30000;
  --c-secondary: #167ac6;
  --c-success: #23CF5F;
  --c-success-active: #1db351;
  --c-gray: rgba(0, 0, 0, 0.35);
  --c-light-gray: rgba(0, 0, 0, 0.6);
  --c-dark-gray: rgba(0, 0, 0, 0.2);
  --c-white: #ffffff;
  --c-black: #000000;
}

.fontawesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  display: block;
}

body {
  background-color: var(--c-base);
  font-family: 'Roboto', sans-serif;
  color: var(--c-white);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  cursor: default;
  -webkit-app-region: drag;
  overflow: hidden;
  animation: loading-animation 2s 1;
}

@media screen and (max-width: 991px) {
  body {
    overflow: visible;
  }
}

a,
button {
  -webkit-app-region: no-drag;
}

a {
  color: var(--c-primary);
}

a:active {
  color: var(--c-primary-active);
}

.btn {
  display: inline-block;
  color: var(--c-white);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 6px 15px;
  text-decoration: none;
  transition: all .1s ease-out;
  outline: 0;
  line-height: 1;
}

.btn-round {
  border-radius: 50px;
}

.btn-small {
  padding: 5px 17px;
}

.btn-link {
  background-color: transparent;
  color: rgba(35, 34, 40, 0.3);
}

.btn-link:hover {
  color: rgba(35, 34, 40, 0.6);
}

.btn-link:active {
  color: var(--c-primary-inverse);
}

.btn-primary {
  background-color: var(--c-primary);
  color: var(--c-white);
}

.btn-primary:hover {
  background-color: var(--c-primary-active);
  transform: scale(1.05);
}

.btn-primary:active {
  background-color: var(--c-primary-active-focus);
  transform: scale(1);
}

.btn-primary-inverse {
  background-color: var(--c-primary-inverse);
  color: rgba(255, 255, 255, 0.6);
}

.btn-primary-inverse:hover {
  color: var(--c-white);
}

.btn-primary-inverse:active {
  background-color: var(--c-black);
  color: var(--c-white);
}

:root {
  --menu-diff: 175px;
}

.container {
  display: flex;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .container {
    display: block;
  }
}

.col {
  position: relative;
}

.col-1 {
  width: 350px;
}

.col-2 {
  width: calc(40% - var(--menu-diff));
  left: calc(60% - var(--menu-diff));
}

.col-3 {
  width: calc(60% - var(--menu-diff));
  left: calc(-40% + var(--menu-diff));
}

@media screen and (max-width: 1600px) and (min-width: 992px) {
  .col-2, .col-3 {
    width: calc(50% - var(--menu-diff));
  }
  .col-2 {
    left: calc(50% - var(--menu-diff));
  }
  .col-3 {
    left: calc(-50% + var(--menu-diff));
  }
}

@media screen and (max-width: 1200px) {
  .col-1 {
    left: -350px;
    position: absolute;
    height: 100%;
    z-index: 2;
  }
  .col-2, .col-3 {
    left: 0;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .col-2, .col-3 {
    width: 50%;
  }
}

@media screen and (max-width: 991px) {
  .col-2, .col-3 {
    width: 100%;
    height: 100%;
  }
}

.loading-app {
  position: fixed;
  color: var(--c-primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

@keyframes loading-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading-modal {
  0% {
    opacity: 0;
    top: 60%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

.loading-bar {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.loading-bar:before {
  content: '';
  display: block;
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: var(--c-primary);
  color: var(--c-primary);
  box-shadow: 0 0 10px 0;
  height: 2px;
  opacity: 0;
  width: 0%;
  transition: all 0.5s ease-in-out;
}

.loading-bar.active:before {
  animation: loading-animation 2s 1;
}

.hide {
  display: none;
}

.hide-input {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.fa-color-danger {
  color: var(--c-primary);
}

.fa-color-info {
  color: var(--c-secondary);
}

.alert {
  padding: .75rem 1.25rem;
  margin: 1rem 0;
  border-radius: 5px;
}

.alert .fa {
  margin-right: 10px;
}

.alert.alert-danger {
  background-color: var(--c-danger);
  color: var(--c-white);
}

.alert.alert-danger a {
  color: inherit;
}

.alert.alert-info {
  background-color: var(--c-secondary);
  color: var(--c-white);
}

.alert.alert-info a {
  color: inherit;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
}

.app-content {
  height: calc(100% - 100px);
  width: 100%;
  display: block;
  position: absolute;
  overflow: auto;
  bottom: 0;
}

.app-head {
  color: var(--c-white);
}

.app-head h2 {
  font-size: 28px;
  display: block;
  margin: 0;
  font-weight: 200;
}

.app-services .app-head {
  position: relative;
}

.app-feed {
  z-index: 1;
}

.app-feed .app-content {
  padding: 0 20px;
}

#youtube-player {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-out, visibility 0.1s ease-out, height 0.1s ease-out 0.1s;
}

#youtube-player.active {
  height: 270px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.1s ease-out 0.3s, visibility 0.1s ease-out 0.1s, height 0.1s ease-out;
}

.notif {
  position: absolute;
  bottom: -41px;
  background-color: var(--c-black);
  color: var(--c-white);
  left: 50%;
  transform: translateX(-50%);
  min-width: 300px;
  padding: 10px 15px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
  z-index: 1;
}

.notif p {
  margin: 0;
}

.notif.active {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

.modal-background-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.modal-container {
  position: absolute;
  background-color: var(--c-white);
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  color: var(--c-black);
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 400px;
  height: 400px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 90px;
  animation: loading-modal 0.2s 1;
}

.modal-container h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  padding: 0 40px;
  margin-bottom: 30px;
}

.modal-content {
  padding: 0 20px;
}

.modal-content img {
  width: 200px;
  height: auto;
}

.modal-content p {
  margin-top: 5px;
}

.modal-close {
  position: absolute;
  top: 13px;
  right: 15px;
  cursor: pointer;
}

.modal-close span {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.modal-close span:active {
  color: var(--c-black);
}

.modal-buttons {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.modal-buttons .btn {
  display: block;
  margin: 5px auto;
  padding: 15px;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 11px 10px;
  font-size: 12px;
}

.modal-buttons .btn-primary {
  width: 70%;
  border-radius: 30px;
}

.current-video-all {
  padding: 0px 10px;
  display: inline-block;
  width: 100%;
}

.current-video-details {
  text-align: center;
  padding: 5px 0;
}

.current-video-name {
  color: var(--c-white);
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.current-video-none {
  margin: 0;
  color: var(--c-black);
}

.current-video-stats {
  display: flex;
}

.current-video-stats .stats-views {
  margin-right: auto;
}

.current-video-stats p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--c-white);
}

.current-video-stats p + p {
  margin-left: 15px;
}

.current-video-stats .fa {
  margin-right: 3px;
  color: var(--c-primary);
}

.current-video-share {
  display: flex;
  margin-top: 3px;
}

.current-video-share label {
  margin: 0 15px 0 0;
  white-space: nowrap;
  padding: 7px 0;
  cursor: pointer;
  color: var(--c-primary);
}

.current-video-share input[type=text] {
  width: 100%;
  border: none;
  padding: 3px 20px;
  background: var(--c-gray);
  color: rgba(255, 255, 255, 0.3);
  margin: 0;
  outline: 0;
  border-radius: 30px;
}

.current-video-share input[type=text]::-moz-selection {
  background-color: transparent;
}

.current-video-share input[type=text]::selection {
  background-color: transparent;
}

.current-video-share input[type=text]:active {
  color: var(--c-white);
}

.player-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.player-buttons button {
  background: transparent;
  position: relative;
  border: none;
  outline: none;
  color: var(--c-primary);
  height: 30px;
  width: 30px;
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.player-buttons button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-buttons button:not(#play-song):active {
  transform: scale(1.4);
}

.player-buttons #play-song {
  background-color: var(--c-primary);
  color: var(--c-base);
  border-radius: 50%;
}

.player-buttons #play-song span {
  margin-left: 1px;
}

.player-buttons #play-song span.fa-pause {
  margin-left: 0;
}

.player-buttons #play-song:active {
  transform: scale(1.1);
}

.current-video-range {
  position: relative;
  width: calc(100% - 130px);
  max-width: 350px;
  margin: 0 auto;
}

.current-video-range .current-video-range-max-value,
.current-video-range .current-video-range-value {
  position: absolute;
  top: -4px;
  margin: 0;
  color: var(--c-white);
}

.current-video-range .current-video-range-value {
  right: calc(100% + 15px);
}

.current-video-range .current-video-range-max-value {
  left: calc(100% + 15px);
}

.player-range {
  width: 100%;
  height: 16px;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
  outline: 0;
}

.volume-range-value {
  color: var(--c-primary);
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 100px;
  margin-top: 0;
}

.volume-range-value span {
  width: 15px;
  margin-right: auto;
  cursor: pointer;
}

.volume-range-value.inactive .volume-input {
  visibility: hidden;
}

.duration-range-container {
  position: relative;
  height: 12px;
  background-color: var(--c-light-gray);
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.duration-range-container .duration-input-shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 0;
  background-color: var(--c-primary);
  transition: all 0.1s ease-out;
  border-radius: 20px;
}

.duration-range-container .player-range {
  -webkit-appearance: none;
  z-index: 1;
  position: relative;
}

.duration-range-container .player-range::-webkit-slider-runnable-track, .duration-range-container .player-range::-webkit-slider-thumb {
  background: transparent;
  visibility: hidden;
}

.duration-range-container .player-range:hover + .duration-input-shadow {
  background-color: var(--c-primary-active);
}

.duration-range-container .player-range:active + .duration-input-shadow {
  background-color: var(--c-primary-active-focus);
}

.volume-input-container {
  position: relative;
  width: 80px;
  height: 8px;
  background-color: var(--c-light-gray);
  border-radius: 5px;
  overflow: hidden;
}

.volume-input-container .volume-input-shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 20px;
  background-color: var(--c-primary);
  transition: all 0.1s ease-out;
}

.volume-input-container .volume-input-shadow.inactive {
  width: 0% !important;
}

.volume-input-container .volume-input {
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11px;
  -webkit-appearance: none;
  outline: 0;
  z-index: 1;
}

.volume-input-container .volume-input::-webkit-slider-runnable-track, .volume-input-container .volume-input::-webkit-slider-thumb {
  background: transparent;
  visibility: hidden;
}

.volume-input-container .volume-input:hover + .volume-input-shadow {
  background-color: var(--c-primary-active);
}

.volume-input-container .volume-input:active + .volume-input-shadow {
  background-color: var(--c-primary-active-focus);
}

select {
  -webkit-appearance: none;
}

.round-check {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
}

.round-check:before {
  content: '';
  display: block;
  background-color: var(--c-black);
  height: 20px;
  width: 40px;
  border-radius: 50px;
  transition: background-color 0.2s ease-out;
}

.round-check:after {
  content: '';
  position: absolute;
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  z-index: 1;
  left: 2px;
  top: 2px;
  transition: left 0.2s ease-out;
}

input[type="checkbox"]:checked + label .round-check:before,
input[type="radio"]:checked + label .round-check:before {
  background-color: rgba(255, 255, 255, 0.11);
}

input[type="checkbox"]:checked + label .round-check:after,
input[type="radio"]:checked + label .round-check:after {
  left: 22px;
  background-color: var(--c-white);
}

.form-select,
.form-text {
  display: flex;
  align-items: center;
  position: relative;
}

.form-select .form-field,
.form-text .form-field {
  margin-left: auto;
  padding: 10px 15px;
  border: 1px solid var(--c-gray);
  color: var(--c-white);
  min-width: 250px;
  font-weight: 300;
  background-color: var(--c-black);
  border-radius: 0;
  outline: 0;
}

.form-select .form-field:disabled,
.form-text .form-field:disabled {
  background-color: var(--c-base);
  cursor: no-drop;
  user-select: none;
}

.form-select .fa-color-info,
.form-select .fa-color-danger,
.form-text .fa-color-info,
.form-text .fa-color-danger {
  margin-left: 10px;
}

.settingsForm {
  margin-top: 0;
  margin-bottom: 20px;
  background-color: var(--c-dark-gray);
  padding: 15px;
}

.settingsForm input[type="checkbox"],
.settingsForm input[type="radio"] {
  display: none;
}

.settingsForm label {
  position: relative;
  cursor: pointer;
  display: block;
}

.settingsForm .form-group {
  padding: 5px 0;
}

.settingsForm h3 {
  margin-bottom: 5px;
  margin-top: 0;
}

.settingsForm .btn {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: auto;
  display: inherit;
}

.settings-hint {
  display: block;
  font-size: 11px;
}

.mac-controls {
  display: flex;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 9999;
}

.mac-controls button {
  background: transparent;
  border: none;
  outline: 0;
  display: block;
  height: 14px;
  width: 14px;
  padding: 0;
  cursor: pointer;
}

.mac-controls button + button {
  margin-left: 5px;
}

#mac-close {
  background-image: url("../img/ui/mac-sprites.png");
  background-size: 62px auto;
  background-position: 0 0;
  background-repeat: no-repeat;
}

#mac-close:active {
  background-position: 0 -16px;
}

#mac-minimize {
  background-image: url("../img/ui/mac-sprites.png");
  background-size: 62px auto;
  background-position: -16px 0;
  background-repeat: no-repeat;
}

#mac-minimize:active {
  background-position: -16px -16px;
}

#mac-maximize {
  background-image: url("../img/ui/mac-sprites.png");
  background-size: 62px auto;
  background-position: -32px 0;
  background-repeat: no-repeat;
}

#mac-maximize:active {
  background-position: -32px -16px;
}

.win-controls {
  display: flex;
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

.win-controls button {
  background: transparent;
  border: none;
  outline: 0;
  padding: 0 8px;
  display: block;
}

#win-close {
  background-color: var(--c-primary-active);
  background-image: url("../img/ui/win-close.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px auto;
  width: 40px;
}

#win-close span {
  color: var(--c-white);
}

#win-close:active {
  background-color: var(--c-primary-active-focus);
  background-size: 14px auto;
}

#win-maximize {
  background-image: url("../img/ui/win-maxim.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 13px auto;
  width: 30px;
}

#win-maximize:active {
  background-color: var(--c-light-gray);
}

#win-minimize {
  background-image: url("../img/ui/win-minim.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 13px auto;
  width: 32px;
}

#win-minimize:active {
  background-color: var(--c-light-gray);
}

#logo {
  cursor: pointer;
  transition: all 0.1s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo small {
  position: absolute;
  left: calc(100% + 5px);
  top: 0;
  color: var(--c-primary);
}

.app-head {
  height: 100px;
  display: flex;
  padding: 30px 20px 0 20px;
}

.app-head .settings {
  margin-left: auto;
  margin-top: 10px;
}

.settings .fa {
  margin-right: 3px;
}

.settings p {
  margin: 0;
  opacity: 0.3;
  cursor: pointer;
  display: inline-block;
  transition: all 0.1s ease-out;
}

.settings p + p {
  margin-left: 10px;
}

.settings p:hover {
  opacity: 1;
}

.settings p.active {
  opacity: 1;
  color: var(--c-primary);
}

.mac-controls,
.win-controls {
  display: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  padding-left: 0;
}

nav a {
  display: block;
  text-decoration: none;
  color: var(--c-white);
  font-size: 14px;
  position: relative;
  padding: 10px 15px 10px 35px;
  transition: all 0.1s ease-out;
  opacity: 0.3;
}

nav a .fa {
  color: var(--c-white);
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

nav a .description {
  display: block;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

nav a:hover {
  opacity: 1;
}

nav a.is-active, nav a:active {
  opacity: 1;
  color: var(--c-primary);
}

nav a.is-active .fa, nav a:active .fa {
  color: var(--c-primary);
}

#main-search {
  width: 100%;
  display: block;
  position: relative;
  color: var(--c-white);
}

#main-search .form-group {
  position: relative;
  z-index: 10;
}

#main-search .input-group {
  position: relative;
}

#main-search input[type="text"] {
  border: none;
  display: block;
  width: 100%;
  padding: 15px 40px 15px 15px;
  margin: 0;
  outline: 0;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background-color: var(--c-gray);
  color: inherit;
  z-index: 1;
}

#main-search .clear-button {
  border: none;
  background: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) scale(1);
  z-index: 2;
  outline: 0;
  transition: all 0.1s ease-out;
}

#main-search.ng-invalid .clear-button {
  transform: translateY(-50%) scale(0);
}

#main-search .settings {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

#main-search:hover input[type="text"] {
  background-color: var(--c-black);
}

iframe {
  width: 100%;
  max-height: 350px;
  display: flex;
}

.video-list {
  position: absolute;
  width: 100%;
  top: 45px;
  overflow-y: auto;
}

.video-list-info {
  text-align: center;
  margin: 5px;
}

.video-list::-webkit-scrollbar-track {
  border-radius: 2px;
}

.video-list::-webkit-scrollbar {
  width: 6px;
  background-color: var(--c-dark-gray);
}

.video-list::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.video-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#search-video-list {
  z-index: 10;
  max-height: 430px;
  border: 1px solid #1f1f1f;
  background-color: var(--c-black);
}

#search-video-list .video-item {
  background-color: var(--c-black);
}

#search-video-list .video-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#search-video-list::-webkit-scrollbar {
  width: 6px;
  background-color: var(--c-black);
}

#search-video-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
}

#search-video-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.video-item-head {
  background-color: var(--c-gray);
  color: var(--c-white);
  width: 100%;
  height: 39px;
  padding: 8px;
}

.video-item-head-btn {
  float: right;
  background-color: var(--c-primary);
  cursor: pointer;
  color: var(--c-wihte);
  border-radius: 3px;
  padding: 2px 8px;
  margin-top: 2px;
  text-transform: uppercase;
  font-size: 11px;
}

.video-item-head-btn:hover {
  background-color: var(--c-primary-active);
  user-select: none;
}

.video-item-head .fa {
  margin-right: 3px;
}

.video-item {
  display: flex;
  align-items: center;
  background-color: var(--c-dark-gray);
  color: var(--c-white);
  padding: 0;
  position: relative;
  min-height: 60px;
  padding: 10px;
  transition: all 0.1s ease-in-out;
}

.video-item h2 {
  font-size: 14px;
  margin: 0;
}

.video-item .video-item-autor {
  font-size: 12px;
}

.video-item-content {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.video-item-content p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.video-item-info {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
}

.video-item-settings {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--c-white);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
}

.video-item-settings > p {
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.video-item-settings p[class^="video-item-"] {
  background-color: var(--c-light-gray);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

.video-item-settings .video-item-play .fa {
  font-size: 12px;
}

.video-item-settings .video-item-play .fa-play {
  margin-left: 2px;
}

.video-item-settings .video-item-play .fa-pause {
  margin-left: 1px;
}

.video-item-settings .video-item-play:hover {
  color: var(--c-white);
  background-color: var(--c-primary);
}

.video-item-settings .video-item-play:active {
  color: var(--c-white);
  background-color: var(--c-primary-active);
}

.video-item-settings .video-item-remove:hover {
  background-color: var(--c-danger);
}

.video-item-settings .video-item-remove:active {
  background-color: var(--c-danger-active);
}

.video-item-settings .video-item-add .fa {
  top: 1px;
  margin-left: 1px;
  position: relative;
}

.video-item-settings .video-item-add:hover {
  background-color: var(--c-success);
}

.video-item-settings .video-item-add:active {
  background-color: var(--c-success-active);
}

.video-item-title {
  line-height: 18px;
}

.video-item-hint {
  text-transform: uppercase;
  font-size: 10px;
  border: 1px solid var(--c-primary);
  color: var(--c-primary);
  display: none;
  padding: 0 5px;
  font-weight: 600 !important;
}

.video-item-hint .fa {
  font-size: 8px;
  margin-right: 3px;
  position: relative;
  top: -1px;
}

.video-item:hover .video-item-settings {
  opacity: 1;
  visibility: visible;
}

.video-item.active {
  background-color: var(--c-black);
}

.video-item.active .video-item-hint {
  display: inline-block;
}

.video-item-image {
  display: block;
  height: 60px;
  width: 80px;
  background-position: center center;
  margin-right: 15px;
}

.video-item-details {
  display: flex;
}

.video-item-details p {
  margin: 0 15px 0 0;
  font-size: 12px;
}

.video-item-details .fa {
  margin-right: 3px;
}

#related-video-list {
  display: flex;
  flex-wrap: wrap;
  top: inherit;
  bottom: 0;
  max-height: none;
  height: calc(100% - 190px);
  width: 100%;
  transition: height 0.1s ease-out 0.1s;
}

#related-video-list .related-video-content {
  position: absolute;
  bottom: 0;
  height: calc(100% - 39px);
  width: 100%;
  overflow: auto;
}

#related-video-list .related-video-content::-webkit-scrollbar-track {
  border-radius: 2px;
}

#related-video-list .related-video-content::-webkit-scrollbar {
  width: 6px;
  background-color: var(--c-dark-gray);
}

#related-video-list .related-video-content::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

#related-video-list .related-video-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#related-video-list.activePlayer {
  height: calc(100% - 385px);
  transition: height 0.1s ease-out 0s;
}

#playlist-video-list {
  display: flex;
  flex-wrap: wrap;
  top: inherit;
  bottom: 0;
  max-height: none;
  height: calc(100% - 236px);
  width: 100%;
  transition: height 0.1s ease-out 0.1s;
}

#playlist-video-list .playlist-video-content {
  position: absolute;
  bottom: 0;
  height: calc(100% - 39px);
  width: 100%;
  overflow: auto;
}

#playlist-video-list .playlist-video-content::-webkit-scrollbar-track {
  border-radius: 2px;
}

#playlist-video-list .playlist-video-content::-webkit-scrollbar {
  width: 6px;
  background-color: var(--c-dark-gray);
}

#playlist-video-list .playlist-video-content::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

#playlist-video-list .playlist-video-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.video-list-featured {
  margin: 10px 0 0;
  height: 200px;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.video-list-featured .video-item {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: auto;
  padding: 10px 15px;
  max-width: 90%;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--c-white);
  border: none;
}

.video-list-featured .video-item-info {
  background-color: transparent;
}

.video-list-featured .video-item-info > div {
  display: inline-block;
}

#feed-video-list {
  top: inherit;
  bottom: 0;
  height: calc(100% - 258px);
  width: calc(100% - 40px);
  max-height: none;
}

#feed-video-list .video-item:first-child {
  display: none !important;
}

#feed-video-list.grid-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

#feed-video-list.grid-list .video-item {
  width: calc(33.333% - 10px);
  display: block;
  margin: 0 5px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

#feed-video-list.grid-list .video-item .video-item-image {
  margin: 0;
  position: relative;
  width: 100%;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#feed-video-list.grid-list .video-item .video-item-content {
  margin: 5px 0 15px 0;
}

#feed-video-list.grid-list .video-item-info {
  display: block;
  padding: 0;
}

#feed-video-list.grid-list .video-item.hidden-thumbnails .video-item-settings {
  height: 26px;
  width: 30px;
}

#feed-video-list.grid-list .video-item:hover .video-item-info {
  left: 0;
}

#feed-video-list.grid-list .video-item:hover .video-item-settings {
  opacity: 1;
  visibility: visible;
  top: 0;
}

@media screen and (max-width: 1600px) and (min-width: 992px) {
  #feed-video-list.grid-list .video-item {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 991px) {
  #feed-video-list.grid-list .video-item {
    width: calc(100% - 10px);
  }
}

#feed-video-list.grid-list .video-item-details {
  text-align: center;
  margin-top: 8px;
}

#feed-video-list.grid-list .video-item-details p {
  font-size: 14px;
  width: 100%;
  margin-right: 0;
  margin-bottom: 5px;
}
