<div class="app-container">
    <div class="app-head">
        <h2>Trending</h2>
        <app-category></app-category>
    </div>
    <div [ngClass]="!globals.listGrid ? 'video-grid' : 'video-list'">
        <ng-container *ngIf="globals.loadingState.feed">
            <div *ngFor="let i of [0,1,2,3,4,5,6,8,9]" class="loading-feed-list loading-anim"></div>
        </ng-container>
        <ng-container *ngIf="!globals.loadingState.feed">
            <ng-container *ngIf="!globals.listGrid">
                <div *ngFor="let feedVideo of globals.feedVideos; let i = index" class="video" tabindex="0">
                    <app-video-item [videoIndex]="i" [videoItem]="feedVideo" [listID]="0" videoType="enhanced">
                    </app-video-item>
                </div>
            </ng-container>
            <ng-container *ngIf="globals.listGrid">
                <div *ngFor="let feedVideo of globals.feedVideos; let i = index" class="video">
                    <app-video-item [videoIndex]="i" [videoItem]="feedVideo" [listID]="0" videoType="list">
                    </app-video-item>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>