<div class="app-head">
    <h2>Home</h2>
</div>
<div class="app-content">
  <form id="main-search" role="search" [formGroup]="searchForm" (ngSubmit)="onSubmit($event)" novalidate>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" formControlName="searchInput">
          <button class="clear-button" (click)="clearSearch()"><span class="fa fa-times"></span></button>
        </div>
      </div>
      <div class="settings">
        <span>List mode:</span>
        <div id="toggle-list-mode">
          <p class="fa fa-list" [ngClass]="{'active': listGrid }" (click)="toggleList(0)"></p>
          <p class="fa fa-th" [ngClass]="{'active': !listGrid }" (click)="toggleList(1)"></p>
        </div>
      </div>
      <div *ngIf="searchForm.valid" id="search-video-list" class="video-list">
        <div *ngFor="let video of videos; let i = index" [attr.data-index]="i" class="video-item">
          <div class="video-item-info" (click)="onClickVideo($event, i, 1)">
            <div *ngIf="thumbnails" class="video-item-image">
              <img src="{{ video.snippet.thumbnails.default.url }}" alt="video thumbnail" />
            </div>
            <div class="video-item-content">
              <p>{{ video.snippet.title }}</p>
            </div>
          </div>
          <div class="video-item-settings">
            <p class="video-item-add" (click)="addPlaylistItem(i, 1)">
              <span class="fa fa-plus-circle"></span>
            </p>
          </div>
        </div>
      </div>
  </form>
  <ng-container *ngIf="feedVideos">
    <div [ngStyle]="{'background-image': 'url(' + trendingFirst.bannerURL + ')'}" class="video-list-featured">
        <div class="video-item" [attr.data-index]="0">
          <div class="video-item-info" (click)="onClickVideo($event, 0, 3)">
            <div *ngIf="thumbnails" class="video-item-image">
              <img src="{{ trendingFirst.video.img }}" alt="feed video thumbnail" />
            </div>
            <div class="video-item-content">
              <p>{{ trendingFirst.video.title }}</p>
              <div *ngIf="trendingFirst.video.id?.length > 0" class="video-item-details">
                  <p class="stats-views"><span class="fa fa-eye"></span> {{ trendingFirst.video.stats.views | number:'1.0' }}</p>
                  <p class="stats-likes"><span class="fa fa-thumbs-up"></span> {{ trendingFirst.video.stats.likes | number:'1.0' }}</p>
                  <p class="stats-dislikes"><span class="fa fa-thumbs-down"></span> {{ trendingFirst.video.stats.dislikes | number:'1.0' }}</p>
              </div>
            </div>
          </div>
          <div class="video-item-settings">
            <p class="video-item-add" (click)="addPlaylistItem(0, 0)">
              <span class="fa fa-plus-circle"></span>
            </p>
          </div>
        </div>
       <!--
        <p>{{ trendingFirst.stats.subscribers | number:'1.0' }}</p>
        <p>{{ trendingFirst.stats.views | number:'1.0' }}</p>
        <p>{{ trendingFirst.stats.videoCount | number:'1.0' }}</p>-->
    </div>
    <div id="feed-video-list" class="video-list" [ngClass]="{'grid-list': !listGrid }">
      <div *ngFor="let feedVideo of feedVideos; let i = index" [ngClass]="{'hidden-thumbnails': !thumbnails }" [attr.data-index]="i" class="video-item">
        <div class="video-item-info" (click)="onClickVideo($event, i, 3)">
          <div *ngIf="thumbnails" class="video-item-image">
            <img src="{{ feedVideo.snippet.thumbnails.medium.url }}" alt="feed video thumbnail" />
          </div>
          <div class="video-item-content">
            <p>{{ feedVideo.snippet.title }}</p>
            <div class="video-item-details" *ngIf="feedVideo.id?.length > 0">
                <p class="stats-views"><span class="fa fa-eye"></span> {{ feedVideo.statistics.viewCount | number:'1.0' }}</p>
                <p class="stats-likes"><span class="fa fa-thumbs-up"></span> {{ feedVideo.statistics.likeCount | number:'1.0' }}</p>
                <p class="stats-dislikes"><span class="fa fa-thumbs-down"></span> {{ feedVideo.statistics.dislikeCount | number:'1.0' }}</p>
            </div>
          </div>
        </div>
        <div class="video-item-settings">
            <p class="video-item-add" (click)="addPlaylistItem(i, 0)">
              <span class="fa fa-plus-circle"></span>
            </p>
          </div>
      </div>
    </div>
  </ng-container>
</div>