<div class="app-head">
    <h2>History</h2>
</div>
<div class="app-content">
    <div class="history-video-content">
        <div *ngIf="globals.historyVideos.length === 0" class="video-list-info">
            No history
        </div>
        <div *ngFor="let historyVideo of globals.historyVideos; let i = index" [attr.data-index]="i" class="video-item">
            <div class="video-item-info">
                <div *ngIf="globals.thumbnails" class="video-item-image" [ngStyle]="{'background-image': 'url(' + historyVideo.thumbnails.default +')'}"></div>
                <div class="video-item-content">
                <p class="video-item-title">{{ historyVideo.title }}</p>
                <p class="video-item-autor">by <span>{{ historyVideo.channelTitle }}</span></p>                      
                </div>
            </div>
            <div class="video-item-settings">
                <button class="video-item-play" (click)="onClickHistory(i)">
                <span class="fa fa-play"></span>
                </button>
                <button class="video-item-share" (click)="onCopyVideoItemLink(i, 4)">
                <span class="fa fa-share-alt"></span>
                </button>
                <button class="video-item-add" (click)="addPlaylistItem(i, 4)">
                <span class="fa fa-plus"></span>
                </button>
            </div>
        </div>
    </div>
</div>