<div class="app-head">
    <p>Settings</p>
</div>
<div class="app-content">
    <button class="open-menu" (click)="toggleMenu()"><span class="fa fa-bars"></span></button>
    <nav id="main-nav" [class.active]="menuOpened">
        <button class="close-menu" (click)="toggleMenu()"><span class="fa fa-bars"></span></button>
        <h2>Settings</h2>
        <form *ngIf="finished" [formGroup]="settingsForm" id="settingsForm" novalidate>
            <div *ngFor="let setting of getSettings.controls; let i=index" class="form-group">
                <input type="checkbox" [attr.id]="'setting-' + i" [formControl]="setting"/>
                <label [attr.for]="'setting-' + i">{{playerAttr.settings[i].name}}<span class="round-check"></span></label>
            </div>
        </form>
    </nav>
    <div class="nav-overlay" (click)="toggleMenu()"></div>
</div>