<div [attr.data-index]="videoIndex" class="video-item-grid" autofocus="true" tabindex="0">
    <div *ngIf="globals.thumbnails" class="video-item-grid_image"
        [ngStyle]="{'background-image': 'url(' + videoItem.thumbnails.high +')'}"></div>
    <div class="video-item_content">
        <p class="video-item_title" [innerHTML]="videoItem.title"></p>
        <p class="video-item_publisher">{{videoItem.channelTitle}}</p>
    </div>
    <app-buttons [videoIndex]="videoIndex" [listID]="listID" [callBack]="callBack"></app-buttons>
</div>