app-room {
	display: block;
}

.room-container {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
	p {
		margin: 2px 0;
	}
}

.session-section {
	margin-bottom: 10px;
	input[type='text'] {		
		&::-webkit-input-placeholder {
			color: rgba(var(--c-white), 0.6);
		}
		
		&:focus {
			border-color: rgba(var(--c-secondary), 0.8);
			box-shadow: 0px 0px 0px 4px rgba(var(--c-secondary), 0.2);
		}
	}
	.session-form {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
	.btn {
		margin-left: 10px;
	}
}

.session-locked-block {
	width: 100%;
    display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin: 8px 0;
	.btn {
		margin-left: auto;
		margin-right: 0;
	}
}

.room-info-container {
    display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.room-info {
	display: flex;
	align-items: center;	
}

.room-info-icon {
	margin-right: 10px;
}

.room-info-icon span {
    font-size: 28px;
}

.room-info-number {
    font-size: 18px;
	font-weight: 600;
	line-height: 1;
}

.room-info-title {
    opacity: 0.4;
    font-weight: 300;
}

@media screen and (max-width: 767px) {
	.room-container {
		margin-top: 15px;
	}
}
