app-room {
	display: block;
}

.room-container {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
	background-color: rgba(0,0,0,0.6);
	padding: 15px;
	border-radius: 5px;
	p {
		margin: 2px 0;
	}
}

.session-section {
	margin-bottom: 10px;
	input[type='text'] {
		background: transparent;
		border: 1px solid #e4e4e4;
		border-radius: 3px;
		padding: 8px 10px;
		font-size: 14px;
		width: 100%;
	}
	.session-form {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
	.btn {
		margin-left: 10px;
	}
}

.session-locked-block {
	width: 100%;
    display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin: 8px 0;
	.btn {
		margin-left: auto;
		margin-right: 0;
	}
}
