.video-item {
    display: block;
    padding: 0;
    height: 320px;
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius);

    &_image {
        border-radius: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 250% auto;
        background-position: center 100%;
    }

    &_content {
        position: absolute;
        bottom: -1px;
        right: -1px;
        left: -1px;
        background-color: rgba(var(--c-black),.3);
        backdrop-filter: blur(40px);
        padding: 5px 10px 10px;
        width: auto;
    }

    .stats-container {
        border-top: 1px solid rgba(var(--c-white), 0.1);
        justify-content: space-between;
        padding-top: 10px;
        margin-top: 5px;
        margin-bottom: 0;
    }

    &.thumbnails-inactive {
        height: auto;

        .video-item_content {
            position: relative;
            background-color: transparent;
            backdrop-filter: none;
        }
    }
}