.video-list {
	width: 100%;
	overflow-y: auto;

	&-info {
		text-align: center;
		margin: 5px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 2px;
	}

	&::-webkit-scrollbar {
		width: 6px;
		background-color: var(--c-dark-gray);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background-color: rgba(#fff, 0.1);

		&:hover {
			background-color: rgba(#fff, 0.4);
		}
	}
}

#main-search {
	width: 100%;
	display: block;
	position: relative;
	color: var(--c-white);


	.search-icon {
		position: absolute;
		display: flex;
		align-items: center;
		top: 50%;
		left: 20px;
		font-size: 18px;
		transform: translateY(-50%);
		color: rgba(255, 255, 255, 0.2);
		cursor: pointer;
		z-index: 2;
		transition: all 0.1s ease-out;
	}

	input[type="text"] {
		width: 100%;
		padding: 13px 40px 13px 40px;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 30px;
		border-width: 2px;
	}

	.form-group {
		position: relative;
		z-index: 10;
	}

	.input-group {
		position: relative;
	}

	.clear-button {
		border: none;
		font-size: 12px;
		background: transparent;
		color: rgba(255, 255, 255, 0.6);
		padding: 0;
		margin: 0;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%) scale(1);
		z-index: 2;
		outline: 0;
		transition: all 0.1s ease-out;
	}

	&.ng-invalid {
		.clear-button {
			transform: translateY(-50%) scale(0);
		}
	}

	.settings {
		display: flex;
		margin-top: 20px;
		align-items: center;
	}
}

.search-overlay {
	display: none;
	&.active {
		display: block;
	}
}

.search-list.arrow-up {
	position: absolute;
	top: 47px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

#search-video-list {
	z-index: 10;
	max-height: 430px;
	background-color: var(--c-base);
	position: absolute;
	top: 54px;
	padding: 0 10px 10px;
	border-radius: var(--border-radius);

	.video-item {
		background: transparent;
		margin-top: 10px;
	}

	&::-webkit-scrollbar {
		width: 6px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		&:hover {
			background-color: var(--c-white);
		}
	}
}
