.video-list {
	width: 100%;
	overflow-y: auto;

	&-info {
		text-align: center;
		margin: 5px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 2px;
	}

	&::-webkit-scrollbar {
		width: 6px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background-color: rgba(var(--c-white), 0.3);

		&:hover {
			background-color: rgba(var(--c-white), 0.6);
		}
	}
}

#main-search {
	width: 100%;
	display: block;
	position: relative;
	color: rgb(var(--c-white));


	.search-icon {
		position: absolute;
		display: flex;
		align-items: center;
		top: 50%;
		left: 20px;
		font-size: 18px;
		transform: translateY(-50%);
		color: rgba(var(--c-white), 0.2);
		cursor: pointer;
		z-index: 2;
		transition: var(--default-transition);
	}

	input[type="text"] {
		width: 100%;
		padding: 13px 40px 13px 40px;
		background-color: rgba(var(--c-black), 0.3);
		border-radius: 30px;
		border-width: 2px;

		&:focus + .icon {
			color: rgb(var(--c-white));
		}
	}

	.form-group {
		position: relative;
		z-index: 10;
	}

	.input-group {
		position: relative;
	}

	.clear-button {
		border: none;
		font-size: var(--font-small);
		background: transparent;
		color: rgba(var(--c-white), 0.6);
		padding: 0;
		margin: 0;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%) scale(1);
		z-index: 2;
		outline: 0;
		transition: var(--default-transition);
	}

	&.ng-invalid {
		.clear-button {
			transform: translateY(-50%) scale(0);
		}
	}

	.settings {
		display: flex;
		margin-top: 20px;
		align-items: center;
	}
}

.search-overlay {
	display: none;
	&.active {
		display: block;
	}
}

.search-list.arrow-up {
	position: absolute;
	top: 47px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

#search-video-list {
	z-index: 10;
	max-height: 430px;
	background-color: rgb(var(--c-box));
	position: absolute;
	top: 54px;
	padding: 10px;
	border-radius: var(--border-radius);
	display: flex;
    flex-wrap: wrap;

	&::-webkit-scrollbar {
		width: 6px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		&:hover {
			background-color: rgb(var(--c-white));
		}
	}
}
