<form id="main-search" role="search" [formGroup]="searchForm" (ngSubmit)="onSubmit($event)" novalidate>
    <div class="form-group">
        <div class="input-group">
            <input type="text" id="input-search" class="form-control"
                placeholder="Search for Songs, Videos, Artists, Albums..." formControlName="searchInput"
                autocomplete="off">
            <label for="input-search" class="search-icon"><span class="icon icon-md ion-ios-search"></span></label>
            <button class="clear-button" (click)="clearSearch()"><span
                    class="icon icon-lg ion-ios-close"></span></button>
        </div>
    </div>
    <div class="search-overlay" [ngClass]="{'active': searchOverlay }">
        <span class="search-list arrow-up"></span>
        <div id="search-video-list" class="video-list">
            <div *ngIf="noResults" class="video-item text-center">
                There are no results
            </div>
            <div *ngFor="let searchedVideo of globals.searchedVideos; let i = index" [attr.data-index]="i" class="video">
                <app-video-item [videoIndex]="i" [videoItem]="searchedVideo" [listID]="1" [callBack]="clearSearch.bind(this)"></app-video-item>
            </div>
        </div>
    </div>
</form>