.player-mini {
    display: flex;
    position: fixed;
    bottom: -100px;
    background-color: rgb(var(--c-white));
    color: rgb(var(--c-black));
    border-radius: calc(var(--border-radius) * 2);
    padding: 8px 15px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 5px 10px 10px rgba(var(--c-black), 0.1);
    align-items: center;
    transition: var(--default-transition);

    &.active {
        bottom: 30px;
    }

    &_image {
        height: 40px;
        width: 40px;
        flex: 0 0 40px;
        background-position: center center;
        background-size: cover auto;
        background-repeat: no-repeat;
        border-radius: var(--border-radius);
        margin-right: 10px;
    }

    &_content {
        // max-width: 300px;
        overflow: hidden;

        p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &_title {
        line-height: 1;
        font-size: var(--font-large);
        margin-right: 10px;
    }

    &_publisher {
        font-weight: 800;
    }

    &_buttons {
        display: flex;
        margin-right: 10px;

        > button {
            -webkit-appearance: none;
            background-color: rgb(var(--c-black));
            color: rgb(var(--c-white));
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 50%;
            margin: 0 3px;
            padding: 0;
            
            &:active {
                box-shadow: 0 0 0 3px rgba(var(--c-black), 0.3);
            }
        }
    }
}
