.video {
	margin: 3px 0;
    display: inline-block;
	width: 100%;
	border-radius: var(--border-radius);
	overflow: hidden;
	position: relative;
	transition: var(--default-transition);
	
	&.small {
		margin: 0;
	}
}

.video-item {
	display: flex;
	width: 100%;
	align-items: center;
	background-color: rgba(var(--c-black), 0.3);
	color: rgb(var(--c-white));
	padding: 5px;
	position: relative;
	transition: var(--default-transition);
	outline: 0;

	&_image {
		display: block;
		height: 70px;
		width: 80px;
		flex: 0 0 80px;
		background-size: 200% auto;
		background-position: center center;
		margin-right: 10px;
		transition: var(--default-transition);
		border-radius: var(--border-radius);
	}

	&_title {
		font-size: var(--font-large);
	}

	&_publisher {
		font-weight: 800;
	}
	
	&_content {
		width: 100%;
		overflow: hidden;
		position: relative;
		p {
			margin: 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	&_hint {
		text-transform: uppercase;
		font-size: 10px;
		line-height: 16px;
		border: 1px solid rgb(var(--c-primary));
		color: rgb(var(--c-primary));
		display: inline-block;
		padding: 0 5px;
		font-weight: 600 !important;
	}

	&:before {
		content: '';
		position: absolute;
		background-color: rgb(var(--c-black));
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
	}
}

.video-item-details .icon,
.stats-container .icon {
	font-size: var(--font-medium);
}

.stats-container {
	display: flex;
	width: 100%;
	margin: 5px 0;

	p {
		margin-top: 0;
		margin-bottom: 0;
		color: rgb(var(--c-white));
	}

	p + p {
		margin-left: 15px;
	}
}