#related-video-list {
	.leftRs,
	.rightRs {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		-webkit-appearance: none;
		background: transparent;
		color: rgb(var(--c-white));
		border: none;
		cursor: pointer;
	}
	.leftRs {
		left: 0;
	}
	.rightRs {
		right: 0;
	}
	.ngucarousel {
		position: relative;
		margin: 0 -10px;
		padding: 0 30px;
		&-inner {
			margin: 0 -15px;
			padding: 0 10px;
		}
	}
	.ngu-touch-container {
		overflow: hidden;
	}
	.ngucarouselPointDefault {
		display: none;
	}
}
