#related-video-list {
	color: var(--c-white);
	margin: 20px 0 40px;
	.leftRs,
	.rightRs {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		-webkit-appearance: none;
		background: var(--c-dark-gray);
		height: 30px;
		width: 30px;
		border-radius: 50%;
		color: var(--c-white);
		border: none;
		cursor: pointer;
		padding: 0;
		text-align: center;
		font-size: 18px;
		line-height: 18px;
		transition: all 0.1s ease-out;
		&:hover {
			background: rgba(0, 0, 0, 0.6);
		}
		&:active {
			background: rgba(0, 0, 0, 0.9);
		}
	}
	.leftRs {
		left: 0;
	}
	.rightRs {
		right: 0;
	}
	.ngucarousel {
		position: relative;
		margin: 0 -10px;
		padding: 0 30px;
		&-inner {
			margin: 0 -15px;
			padding: 0 10px;
		}
	}
	.ngu-touch-container {
		overflow: hidden;
	}
	.ngucarouselPointDefault {
		display: none;
	}
	.video-item {
		margin: 0 5px;
		padding: 0;
		background: transparent;
		p {
			color: var(--c-white);
		}
		&-info {
			flex-wrap: wrap;
			width: 100%;
		}
		&-image {
			width: 100%;
			height: 110px;
			background-repeat: no-repeat;
			background-size: 150% auto;
			margin: 0 0 10px;
		}
		&-autor {
			font-weight: bold;
		}
		&-settings {
			border-radius: 3px;
		}
		&:hover {
			.video-item-image {
				background-size: 135% auto;
			}
		}
	}
}
