<div id="related-video-list">
  <div class="video-item-head">
    <h2>Related Videos</h2>
  </div>
  <ng-container *ngIf="globals.isLoading">
    <div class="related-video-content">
      <div class="loading-list">
          <div *ngFor="let i of [1,2,3,4,5,6,7,8]" class="item loading-box">
              <div class="loading-medium-box loading-anim"></div>
              <div class="loading-small-box loading-anim"></div>
          </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="globals.relatedVideos.length > 0">
    <ngu-carousel
      [inputs]="carouselOne" [dataSource]="globals.relatedVideos">
      <ngu-item *nguCarouselDef="let relatedVideo; let i = index;">
        <div [attr.data-index]="i" class="video-item">
          <div class="video-item-info">
            <div *ngIf="globals.thumbnails" class="video-item-image" [ngStyle]="{'background-image': 'url(' + relatedVideo.thumbnails.high +')'}"></div>
            <div class="video-item-content">
              <p class="video-item-title">{{ relatedVideo.title }}</p>
              <p class="video-item-autor">{{ relatedVideo.channelTitle }}</p>
            </div>
            <div class="video-item-settings">
              <button class="video-item-play" (click)="playerComp.onClickRelated(i)">
                <span class="fa fa-play"></span>
              </button>
              <button class="video-item-share" (click)="shared.onCopyVideoItemLink(i, 2)">
                <span class="fa fa-share-alt"></span>
              </button>
              <button class="video-item-add" (click)="playlistComp.addPlaylistItem(i, 2)">
                <span class="fa fa-plus"></span>
              </button>
            </div>
          </div>
        </div>
      </ngu-item>
      <button NguCarouselPrev class='leftRs'><i class="fa fa-angle-left"></i></button>
      <button NguCarouselNext class='rightRs'><i class="fa fa-angle-right"></i></button>
    </ngu-carousel>
  </ng-container>
</div>